{:kerrostalo-rivitalo
 ([["poikkeamat"]
   "Asemakaavan mukaan kerrosalasta tulee olla palvelu-, myymälä- tai toimistotiloja vähintään 160 m2. Ala käytetään asuntorakentamiseen. Kaavoittajan lausunnon mukaan hanke on asemakaavan pääkäyttötarkoituksen mukainen, joten kyse on vähäisestä poikkeuksesta asemakaavasta, jonka rakennusvalvonta voi myöntää. Erityisinä perusteina poikkeamiselle on kohtuuhintaisten pienasuntojen tuottaminen ja se, että tontilta ei ole saatavissa tonttiliittymää pääkadulle Rajatorpantielle eikä Koivuvaarankujallekaan ja että lähialueella on runsaasti liike- ja toimistotiloja.\r\n\r\nAsemakaavan mukaan autopaikkoja on rakennettava 63 kpl, niitä rakennetaan 62 kpl istutusten ja lumenkasauspaikkojen lisäämiseksi. Asemakaavan mukainen rakennusoikeus ylitetään 3 m2:llä. Poikkeaminen autopaikkojen määrästä ja rakennusoikeudesta on vähäistä."]
  [["kuvaus"] "Kahden kuusikerroksisen asuinkerrostalon rakentaminen."]
  [["tunnus"] "010"]
  [[:valtakunnallinenNumero] "100790606V"]
  [[:luokitus :paloluokka] "P1"]
  [[:luokitus :energiatehokkuusluvunYksikko] "kWh/brm2/vuosi"]
  [[:luokitus :energiatehokkuusluku] "127"]
  [[:luokitus :energialuokka] "C"]
  [[:mitat :kellarinpinta-ala] ""]
  [[:mitat :kerrosluku] "6"]
  [[:mitat :kokonaisala] "2307"]
  [[:mitat :rakennusoikeudellinenKerrosala] "2262"]
  [[:mitat :kerrosala] "2262"]
  [[:mitat :tilavuus] "7271"]
  [[:rakenne :muuMateriaali] ""]
  [[:rakenne :julkisivu] nil]
  [[:rakenne :muuRakennusaine] ""]
  [[:rakenne :kantavaRakennusaine] "betoni"]
  [[:rakenne :rakentamistapa] "elementti"]
  [[:lammitys :muu-lammonlahde] ""]
  [[:lammitys :lammonlahde] "kauko tai aluelämpö"]
  [[:lammitys :lammitystapa] "vesikeskus"]
  [[:huoneistot :29 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :29 :lamminvesiKytkin] true]
  [[:huoneistot :29 :muutostapa] "lisäys"]
  [[:huoneistot :29 :porras] "B"]
  [[:huoneistot :29 :huoneistonumero] "064"]
  [[:huoneistot :29 :saunaKytkin] false]
  [[:huoneistot :29 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :29 :huoneluku] "2"]
  [[:huoneistot :29 :huoneistoala] "38,5"]
  [[:huoneistot :29 :keittionTyyppi] "keittotila"]
  [[:huoneistot :29 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :29 :WCKytkin] true]
  [[:huoneistot :6 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :6 :lamminvesiKytkin] true]
  [[:huoneistot :6 :muutostapa] "lisäys"]
  [[:huoneistot :6 :porras] "B"]
  [[:huoneistot :6 :huoneistonumero] "041"]
  [[:huoneistot :6 :saunaKytkin] false]
  [[:huoneistot :6 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :6 :huoneluku] "2"]
  [[:huoneistot :6 :huoneistoala] "38,5"]
  [[:huoneistot :6 :keittionTyyppi] "keittotila"]
  [[:huoneistot :6 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :6 :WCKytkin] true]
  [[:huoneistot :3 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :3 :lamminvesiKytkin] true]
  [[:huoneistot :3 :muutostapa] "lisäys"]
  [[:huoneistot :3 :porras] "B"]
  [[:huoneistot :3 :huoneistonumero] "038"]
  [[:huoneistot :3 :saunaKytkin] false]
  [[:huoneistot :3 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :3 :huoneluku] "2"]
  [[:huoneistot :3 :huoneistoala] "54"]
  [[:huoneistot :3 :keittionTyyppi] "keittotila"]
  [[:huoneistot :3 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :3 :WCKytkin] true]
  [[:huoneistot :15 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :15 :lamminvesiKytkin] true]
  [[:huoneistot :15 :muutostapa] "lisäys"]
  [[:huoneistot :15 :porras] "B"]
  [[:huoneistot :15 :huoneistonumero] "050"]
  [[:huoneistot :15 :saunaKytkin] false]
  [[:huoneistot :15 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :15 :huoneluku] "2"]
  [[:huoneistot :15 :huoneistoala] "54"]
  [[:huoneistot :15 :keittionTyyppi] "keittotila"]
  [[:huoneistot :15 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :15 :WCKytkin] true]
  [[:huoneistot :5 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :5 :lamminvesiKytkin] true]
  [[:huoneistot :5 :muutostapa] "lisäys"]
  [[:huoneistot :5 :porras] "B"]
  [[:huoneistot :5 :huoneistonumero] "040"]
  [[:huoneistot :5 :saunaKytkin] false]
  [[:huoneistot :5 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :5 :huoneluku] "2"]
  [[:huoneistot :5 :huoneistoala] "38,5"]
  [[:huoneistot :5 :keittionTyyppi] "keittotila"]
  [[:huoneistot :5 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :5 :WCKytkin] true]
  [[:huoneistot :2 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :2 :lamminvesiKytkin] true]
  [[:huoneistot :2 :muutostapa] "lisäys"]
  [[:huoneistot :2 :porras] "B"]
  [[:huoneistot :2 :huoneistonumero] "037"]
  [[:huoneistot :2 :saunaKytkin] false]
  [[:huoneistot :2 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :2 :huoneluku] "3"]
  [[:huoneistot :2 :huoneistoala] "69"]
  [[:huoneistot :2 :keittionTyyppi] "keittotila"]
  [[:huoneistot :2 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :2 :WCKytkin] true]
  [[:huoneistot :19 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :19 :lamminvesiKytkin] true]
  [[:huoneistot :19 :muutostapa] "lisäys"]
  [[:huoneistot :19 :porras] "B"]
  [[:huoneistot :19 :huoneistonumero] "054"]
  [[:huoneistot :19 :saunaKytkin] false]
  [[:huoneistot :19 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :19 :huoneluku] "2"]
  [[:huoneistot :19 :huoneistoala] "50"]
  [[:huoneistot :19 :keittionTyyppi] "keittotila"]
  [[:huoneistot :19 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :19 :WCKytkin] true]
  [[:huoneistot :28 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :28 :lamminvesiKytkin] true]
  [[:huoneistot :28 :muutostapa] "lisäys"]
  [[:huoneistot :28 :porras] "B"]
  [[:huoneistot :28 :huoneistonumero] "063"]
  [[:huoneistot :28 :saunaKytkin] false]
  [[:huoneistot :28 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :28 :huoneluku] "2"]
  [[:huoneistot :28 :huoneistoala] "50"]
  [[:huoneistot :28 :keittionTyyppi] "keittotila"]
  [[:huoneistot :28 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :28 :WCKytkin] true]
  [[:huoneistot :32 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :32 :lamminvesiKytkin] true]
  [[:huoneistot :32 :muutostapa] "lisäys"]
  [[:huoneistot :32 :porras] "B"]
  [[:huoneistot :32 :huoneistonumero] "067"]
  [[:huoneistot :32 :saunaKytkin] false]
  [[:huoneistot :32 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :32 :huoneluku] "3"]
  [[:huoneistot :32 :huoneistoala] "69"]
  [[:huoneistot :32 :keittionTyyppi] "keittotila"]
  [[:huoneistot :32 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :32 :WCKytkin] true]
  [[:huoneistot :17 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :17 :lamminvesiKytkin] true]
  [[:huoneistot :17 :muutostapa] "lisäys"]
  [[:huoneistot :17 :porras] "B"]
  [[:huoneistot :17 :huoneistonumero] "052"]
  [[:huoneistot :17 :saunaKytkin] false]
  [[:huoneistot :17 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :17 :huoneluku] "2"]
  [[:huoneistot :17 :huoneistoala] "38,5"]
  [[:huoneistot :17 :keittionTyyppi] "keittotila"]
  [[:huoneistot :17 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :17 :WCKytkin] true]
  [[:huoneistot :20 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :20 :lamminvesiKytkin] true]
  [[:huoneistot :20 :muutostapa] "lisäys"]
  [[:huoneistot :20 :porras] "B"]
  [[:huoneistot :20 :huoneistonumero] "055"]
  [[:huoneistot :20 :saunaKytkin] false]
  [[:huoneistot :20 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :20 :huoneluku] "3"]
  [[:huoneistot :20 :huoneistoala] "69"]
  [[:huoneistot :20 :keittionTyyppi] "keittotila"]
  [[:huoneistot :20 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :20 :WCKytkin] true]
  [[:huoneistot :9 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :9 :lamminvesiKytkin] true]
  [[:huoneistot :9 :muutostapa] "lisäys"]
  [[:huoneistot :9 :porras] "B"]
  [[:huoneistot :9 :huoneistonumero] "044"]
  [[:huoneistot :9 :saunaKytkin] false]
  [[:huoneistot :9 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :9 :huoneluku] "2"]
  [[:huoneistot :9 :huoneistoala] "54"]
  [[:huoneistot :9 :keittionTyyppi] "keittotila"]
  [[:huoneistot :9 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :9 :WCKytkin] true]
  [[:huoneistot :25 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :25 :lamminvesiKytkin] true]
  [[:huoneistot :25 :muutostapa] "lisäys"]
  [[:huoneistot :25 :porras] "B"]
  [[:huoneistot :25 :huoneistonumero] "060"]
  [[:huoneistot :25 :saunaKytkin] false]
  [[:huoneistot :25 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :25 :huoneluku] "2"]
  [[:huoneistot :25 :huoneistoala] "50"]
  [[:huoneistot :25 :keittionTyyppi] "keittotila"]
  [[:huoneistot :25 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :25 :WCKytkin] true]
  [[:huoneistot :22 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :22 :lamminvesiKytkin] true]
  [[:huoneistot :22 :muutostapa] "lisäys"]
  [[:huoneistot :22 :porras] "B"]
  [[:huoneistot :22 :huoneistonumero] "057"]
  [[:huoneistot :22 :saunaKytkin] false]
  [[:huoneistot :22 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :22 :huoneluku] "2"]
  [[:huoneistot :22 :huoneistoala] "50"]
  [[:huoneistot :22 :keittionTyyppi] "keittotila"]
  [[:huoneistot :22 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :22 :WCKytkin] true]
  [[:huoneistot :8 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :8 :lamminvesiKytkin] true]
  [[:huoneistot :8 :muutostapa] "lisäys"]
  [[:huoneistot :8 :porras] "B"]
  [[:huoneistot :8 :huoneistonumero] "043"]
  [[:huoneistot :8 :saunaKytkin] false]
  [[:huoneistot :8 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :8 :huoneluku] "3"]
  [[:huoneistot :8 :huoneistoala] "69"]
  [[:huoneistot :8 :keittionTyyppi] "keittotila"]
  [[:huoneistot :8 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :8 :WCKytkin] true]
  [[:huoneistot :1 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :1 :lamminvesiKytkin] true]
  [[:huoneistot :1 :muutostapa] "lisäys"]
  [[:huoneistot :1 :porras] "B"]
  [[:huoneistot :1 :huoneistonumero] "036"]
  [[:huoneistot :1 :saunaKytkin] false]
  [[:huoneistot :1 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :1 :huoneluku] "2"]
  [[:huoneistot :1 :huoneistoala] "50"]
  [[:huoneistot :1 :keittionTyyppi] "keittotila"]
  [[:huoneistot :1 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :1 :WCKytkin] true]
  [[:huoneistot :7 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :7 :lamminvesiKytkin] true]
  [[:huoneistot :7 :muutostapa] "lisäys"]
  [[:huoneistot :7 :porras] "B"]
  [[:huoneistot :7 :huoneistonumero] "042"]
  [[:huoneistot :7 :saunaKytkin] false]
  [[:huoneistot :7 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :7 :huoneluku] "2"]
  [[:huoneistot :7 :huoneistoala] "50"]
  [[:huoneistot :7 :keittionTyyppi] "keittotila"]
  [[:huoneistot :7 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :7 :WCKytkin] true]
  [[:huoneistot :16 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :16 :lamminvesiKytkin] true]
  [[:huoneistot :16 :muutostapa] "lisäys"]
  [[:huoneistot :16 :porras] "B"]
  [[:huoneistot :16 :huoneistonumero] "051"]
  [[:huoneistot :16 :saunaKytkin] false]
  [[:huoneistot :16 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :16 :huoneluku] "2"]
  [[:huoneistot :16 :huoneistoala] "50"]
  [[:huoneistot :16 :keittionTyyppi] "keittotila"]
  [[:huoneistot :16 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :16 :WCKytkin] true]
  [[:huoneistot :26 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :26 :lamminvesiKytkin] true]
  [[:huoneistot :26 :muutostapa] "lisäys"]
  [[:huoneistot :26 :porras] "B"]
  [[:huoneistot :26 :huoneistonumero] "061"]
  [[:huoneistot :26 :saunaKytkin] false]
  [[:huoneistot :26 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :26 :huoneluku] "3"]
  [[:huoneistot :26 :huoneistoala] "69"]
  [[:huoneistot :26 :keittionTyyppi] "keittotila"]
  [[:huoneistot :26 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :26 :WCKytkin] true]
  [[:huoneistot :4 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :4 :lamminvesiKytkin] true]
  [[:huoneistot :4 :muutostapa] "lisäys"]
  [[:huoneistot :4 :porras] "B"]
  [[:huoneistot :4 :huoneistonumero] "039"]
  [[:huoneistot :4 :saunaKytkin] false]
  [[:huoneistot :4 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :4 :huoneluku] "2"]
  [[:huoneistot :4 :huoneistoala] "50"]
  [[:huoneistot :4 :keittionTyyppi] "keittotila"]
  [[:huoneistot :4 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :4 :WCKytkin] true]
  [[:huoneistot :30 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :30 :lamminvesiKytkin] true]
  [[:huoneistot :30 :muutostapa] "lisäys"]
  [[:huoneistot :30 :porras] "B"]
  [[:huoneistot :30 :huoneistonumero] "065"]
  [[:huoneistot :30 :saunaKytkin] false]
  [[:huoneistot :30 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :30 :huoneluku] "2"]
  [[:huoneistot :30 :huoneistoala] "38,5"]
  [[:huoneistot :30 :keittionTyyppi] "keittotila"]
  [[:huoneistot :30 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :30 :WCKytkin] true]
  [[:huoneistot :0 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :0 :lamminvesiKytkin] true]
  [[:huoneistot :0 :muutostapa] "lisäys"]
  [[:huoneistot :0 :porras] "B"]
  [[:huoneistot :0 :huoneistonumero] "035"]
  [[:huoneistot :0 :saunaKytkin] false]
  [[:huoneistot :0 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :0 :jakokirjain] ""]
  [[:huoneistot :0 :huoneluku] "2"]
  [[:huoneistot :0 :huoneistoala] "50"]
  [[:huoneistot :0 :keittionTyyppi] "keittotila"]
  [[:huoneistot :0 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :0 :WCKytkin] true]
  [[:huoneistot :13 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :13 :lamminvesiKytkin] true]
  [[:huoneistot :13 :muutostapa] "lisäys"]
  [[:huoneistot :13 :porras] "B"]
  [[:huoneistot :13 :huoneistonumero] "048"]
  [[:huoneistot :13 :saunaKytkin] false]
  [[:huoneistot :13 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :13 :huoneluku] "2"]
  [[:huoneistot :13 :huoneistoala] "50"]
  [[:huoneistot :13 :keittionTyyppi] "keittotila"]
  [[:huoneistot :13 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :13 :WCKytkin] true]
  [[:huoneistot :23 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :23 :lamminvesiKytkin] true]
  [[:huoneistot :23 :muutostapa] "lisäys"]
  [[:huoneistot :23 :porras] "B"]
  [[:huoneistot :23 :huoneistonumero] "058"]
  [[:huoneistot :23 :saunaKytkin] false]
  [[:huoneistot :23 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :23 :huoneluku] "2"]
  [[:huoneistot :23 :huoneistoala] "38,5"]
  [[:huoneistot :23 :keittionTyyppi] "keittotila"]
  [[:huoneistot :23 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :23 :WCKytkin] true]
  [[:huoneistot :21 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :21 :lamminvesiKytkin] true]
  [[:huoneistot :21 :muutostapa] "lisäys"]
  [[:huoneistot :21 :porras] "B"]
  [[:huoneistot :21 :huoneistonumero] "056"]
  [[:huoneistot :21 :saunaKytkin] false]
  [[:huoneistot :21 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :21 :huoneluku] "2"]
  [[:huoneistot :21 :huoneistoala] "54"]
  [[:huoneistot :21 :keittionTyyppi] "keittotila"]
  [[:huoneistot :21 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :21 :WCKytkin] true]
  [[:huoneistot :10 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :10 :lamminvesiKytkin] true]
  [[:huoneistot :10 :muutostapa] "lisäys"]
  [[:huoneistot :10 :porras] "B"]
  [[:huoneistot :10 :huoneistonumero] "045"]
  [[:huoneistot :10 :saunaKytkin] false]
  [[:huoneistot :10 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :10 :huoneluku] "2"]
  [[:huoneistot :10 :huoneistoala] "50"]
  [[:huoneistot :10 :keittionTyyppi] "keittotila"]
  [[:huoneistot :10 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :10 :WCKytkin] true]
  [[:huoneistot :24 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :24 :lamminvesiKytkin] true]
  [[:huoneistot :24 :muutostapa] "lisäys"]
  [[:huoneistot :24 :porras] "B"]
  [[:huoneistot :24 :huoneistonumero] "059"]
  [[:huoneistot :24 :saunaKytkin] false]
  [[:huoneistot :24 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :24 :huoneluku] "2"]
  [[:huoneistot :24 :huoneistoala] "38,5"]
  [[:huoneistot :24 :keittionTyyppi] "keittotila"]
  [[:huoneistot :24 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :24 :WCKytkin] true]
  [[:huoneistot :11 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :11 :lamminvesiKytkin] true]
  [[:huoneistot :11 :muutostapa] "lisäys"]
  [[:huoneistot :11 :porras] "B"]
  [[:huoneistot :11 :huoneistonumero] "046"]
  [[:huoneistot :11 :saunaKytkin] false]
  [[:huoneistot :11 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :11 :huoneluku] "2"]
  [[:huoneistot :11 :huoneistoala] "38,5"]
  [[:huoneistot :11 :keittionTyyppi] "keittotila"]
  [[:huoneistot :11 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :11 :WCKytkin] true]
  [[:huoneistot :12 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :12 :lamminvesiKytkin] true]
  [[:huoneistot :12 :muutostapa] "lisäys"]
  [[:huoneistot :12 :porras] "B"]
  [[:huoneistot :12 :huoneistonumero] "047"]
  [[:huoneistot :12 :saunaKytkin] false]
  [[:huoneistot :12 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :12 :huoneluku] "2"]
  [[:huoneistot :12 :huoneistoala] "38,5"]
  [[:huoneistot :12 :keittionTyyppi] "keittotila"]
  [[:huoneistot :12 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :12 :WCKytkin] true]
  [[:huoneistot :18 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :18 :lamminvesiKytkin] true]
  [[:huoneistot :18 :muutostapa] "lisäys"]
  [[:huoneistot :18 :porras] "B"]
  [[:huoneistot :18 :huoneistonumero] "053"]
  [[:huoneistot :18 :saunaKytkin] false]
  [[:huoneistot :18 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :18 :huoneluku] "2"]
  [[:huoneistot :18 :huoneistoala] "38,5"]
  [[:huoneistot :18 :keittionTyyppi] "keittotila"]
  [[:huoneistot :18 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :18 :WCKytkin] true]
  [[:huoneistot :31 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :31 :lamminvesiKytkin] true]
  [[:huoneistot :31 :muutostapa] "lisäys"]
  [[:huoneistot :31 :porras] "B"]
  [[:huoneistot :31 :huoneistonumero] "066"]
  [[:huoneistot :31 :saunaKytkin] false]
  [[:huoneistot :31 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :31 :huoneluku] "2"]
  [[:huoneistot :31 :huoneistoala] "50"]
  [[:huoneistot :31 :keittionTyyppi] "keittotila"]
  [[:huoneistot :31 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :31 :WCKytkin] true]
  [[:huoneistot :27 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :27 :lamminvesiKytkin] true]
  [[:huoneistot :27 :muutostapa] "lisäys"]
  [[:huoneistot :27 :porras] "B"]
  [[:huoneistot :27 :huoneistonumero] "062"]
  [[:huoneistot :27 :saunaKytkin] false]
  [[:huoneistot :27 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :27 :huoneluku] "2"]
  [[:huoneistot :27 :huoneistoala] "54"]
  [[:huoneistot :27 :keittionTyyppi] "keittotila"]
  [[:huoneistot :27 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :27 :WCKytkin] true]
  [[:huoneistot :14 :parvekeTaiTerassiKytkin] true]
  [[:huoneistot :14 :lamminvesiKytkin] true]
  [[:huoneistot :14 :muutostapa] "lisäys"]
  [[:huoneistot :14 :porras] "B"]
  [[:huoneistot :14 :huoneistonumero] "049"]
  [[:huoneistot :14 :saunaKytkin] false]
  [[:huoneistot :14 :ammeTaiSuihkuKytkin] true]
  [[:huoneistot :14 :huoneluku] "3"]
  [[:huoneistot :14 :huoneistoala] "69"]
  [[:huoneistot :14 :keittionTyyppi] "keittotila"]
  [[:huoneistot :14 :huoneistoTyyppi] "asuinhuoneisto"]
  [[:huoneistot :14 :WCKytkin] true]
  [[:kaytto :kayttotarkoitus] "039 muut asuinkerrostalot"]
  [[:kaytto :rakentajaTyyppi] "liiketaloudellinen"]
  [[:verkostoliittymat :kaapeliKytkin] false]
  [[:verkostoliittymat :maakaasuKytkin] false]
  [[:verkostoliittymat :sahkoKytkin] false]
  [[:verkostoliittymat :vesijohtoKytkin] false]
  [[:verkostoliittymat :viemariKytkin] false]
  [[:varusteet :lamminvesiKytkin] false]
  [[:varusteet :sahkoKytkin] false]
  [[:varusteet :koneellinenilmastointiKytkin] false]
  [[:varusteet :liitettyJatevesijarjestelmaanKytkin] false]
  [[:varusteet :aurinkopaneeliKytkin] false]
  [[:varusteet :kaasuKytkin] false]
  [[:varusteet :vaestonsuoja] ""]
  [[:varusteet :hissiKytkin] false]
  [[:varusteet :vesijohtoKytkin] false]
  [[:varusteet :saunoja] ""]
  [[:varusteet :viemariKytkin] false]
  [[:rakennuksenOmistajat :0 :muu-omistajalaji] ""]
  [[:rakennuksenOmistajat :0 :omistajalaji]
   "valtio- tai kuntaenemmistöinen yritys"]
  [[:rakennuksenOmistajat
    :0
    :yritys
    :yhteyshenkilo
    :yhteystiedot
    :email]
   ""]
  [[:rakennuksenOmistajat
    :0
    :yritys
    :yhteyshenkilo
    :yhteystiedot
    :puhelin]
   ""]
  [[:rakennuksenOmistajat
    :0
    :yritys
    :yhteyshenkilo
    :henkilotiedot
    :turvakieltoKytkin]
   false]
  [[:rakennuksenOmistajat
    :0
    :yritys
    :yhteyshenkilo
    :henkilotiedot
    :sukunimi]
   ""]
  [[:rakennuksenOmistajat
    :0
    :yritys
    :yhteyshenkilo
    :henkilotiedot
    :etunimi]
   ""]
  [[:rakennuksenOmistajat :0 :yritys :osoite :maa] "FIN"]
  [[:rakennuksenOmistajat :0 :yritys :osoite :postitoimipaikannimi]
   "VANTAA"]
  [[:rakennuksenOmistajat :0 :yritys :osoite :postinumero] "01300"]
  [[:rakennuksenOmistajat :0 :yritys :osoite :katu] "Veturikuja 7"]
  [[:rakennuksenOmistajat :0 :yritys :liikeJaYhteisoTunnus]
   "0640915-7"]
  [[:rakennuksenOmistajat :0 :yritys :yritysnimi] "VAV Asunnot Oy"]
  [[:rakennuksenOmistajat :0 :yritys :companyId] nil]
  [[:rakennuksenOmistajat :0 :henkilo :kytkimet :suoramarkkinointilupa]
   false]
  [[:rakennuksenOmistajat :0 :henkilo :yhteystiedot :email] ""]
  [[:rakennuksenOmistajat :0 :henkilo :yhteystiedot :puhelin] ""]
  [[:rakennuksenOmistajat :0 :henkilo :osoite :maa] "FIN"]
  [[:rakennuksenOmistajat :0 :henkilo :osoite :postitoimipaikannimi]
   ""]
  [[:rakennuksenOmistajat :0 :henkilo :osoite :postinumero] ""]
  [[:rakennuksenOmistajat :0 :henkilo :osoite :katu] ""]
  [[:rakennuksenOmistajat
    :0
    :henkilo
    :henkilotiedot
    :turvakieltoKytkin]
   false]
  [[:rakennuksenOmistajat :0 :henkilo :henkilotiedot :hetu] nil]
  [[:rakennuksenOmistajat :0 :henkilo :henkilotiedot :sukunimi] ""]
  [[:rakennuksenOmistajat :0 :henkilo :henkilotiedot :etunimi] ""]
  [[:rakennuksenOmistajat :0 :henkilo :userId] nil]
  [[:rakennuksenOmistajat :0 :_selected] "yritys"])}
