{:alkamisPvm "2013-09-13Z", :tyonjohtajaRooliKoodi "KVV-työnjohtaja", :henkilo {:sahkopostiosoite "elvis-pojat@kolumbus.fi", :puhelin "0400-975150", :nimi {:sukunimi "Tuominen", :etunimi "Heikki"}, :osoite {:postinumero "01260", :osoitenimi {:teksti "Vanha Porvoontie 262"}, :postitoimipaikannimi "VANTAA"}, :henkilotunnus "070461-0215"}, :hakemuksenSaapumisPvm "2013-09-13Z", :koulutus "LVI-teknikko", :valmistumisvuosi "1985"}
