// Font-face separation into its own top-level css seems to
// (hopefully) fix the bug, where Chrome does not always render icon
// fonts automatically.

@font-face {
  font-family: 'lupapiste';
  src:
    url('/fonts/lupapiste.ttf?umc9sa') format('truetype'),
    url('/fonts/lupapiste.woff?umc9sa') format('woff'),
    url('/fonts/lupapiste.svg?umc9sa#lupapiste') format('svg');
  font-weight: normal;
  font-style: normal;
}
