<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%p %d [%c] - &lt;%m&gt;%n</pattern>
    </encoder>
  </appender>
  <logger name="org.apache.http" level="WARN"/>
  <logger name="org.apache.poi" level="WARN"/>
  <logger name="org.mongodb.driver" level="WARN"/>
  <logger name="org.apache.pdfbox" level="ERROR"/>
  <root level="INFO">
    <appender-ref ref="A1"/>
  </root>
</configuration>
