
.bubble-dialog {
  $border-color: $grid-border-color;
  $bg-color: white;
  $pad: 20px;

  padding: $pad $pad $pad $pad;
  position: relative;
  background: $bg-color;
  border: 1px solid $border-color;

  .left-buttons {
    margin-top: $pad;
  }

  label.mandatory:after {
    content: " *";
    color: $orange;
  }
  input[type=text], textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    display: block;
  }

  textarea {
    min-height: 8em;
  }

  input.mandatory {
    border-color: $orange;
    margin-bottom: $pad;
  }

  .error {
    margin-top: $pad;
    border: 1px solid red;
    color: red;
    padding: $pad;
  }

  table.mandatory {
    tr {
      background-color: initial;
      td {
        border: 1px solid $orange;
        background-color: none;
      }
      td.full {
        width: 33%;
      }
    }
  }
}

@include bubble-arrow( guest-arrow, $grid-border-color, white, stacked, 20px);

.auth-table {
  tr {
    background-color: initial;
    &:active {
      background-color: initial;
    }
  }
}

.application-guests {
  margin-bottom: 20px;
}
