.accordion {
  width: 100%;
  position: relative;
  z-index: 5;
  height: auto;
  margin-bottom: $marginS;
  @include box-sizing(border-box);

  h2 {
    padding:  $marginS $marginM;
    background: $lp-dark-grey;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
    width: 100%;
    padding-right:0;
    max-width: $application-max-width - $marginS * 2;
    @include box-sizing(border-box);
    // span {
    //   margin-right: $marginM;
    // }
    .icon {
      margin-right: $marginL;
      vertical-align: middle;
    }
    .icon.remove {
      border-right: none;
      padding-right: 0;
    }
    .icon.edit {
      border-right: none;
      padding-right: 0;
      padding-left: 25px;
      margin-left: $marginM;
      width: auto;
    }
    .icon.drill-right-white {
      height: 16px;
    }
    .icon.star-selected, .icon.star-unselected {
      height: 23px;
    }

    .op-description-wrapper {
      display: inline-block;
      max-width: 700px;
      white-space: nowrap;
      line-height: 20px;
      span {
        margin-right: 0;
        vertical-align: bottom;
      }
      .accordion-input {
        width: 600px;
        margin-left: $marginS;
      }
      .op-description {
        overflow: hidden;
        text-overflow: ellipsis;
        &:before {
          content: "-";
          margin: 0 $marginS;
        }
        &:empty {
          display: none;
        }
      }
    }
    .form-approval-status {
      text-transform: none;
      width: auto;
      display: inline;
      min-height: 28px;

      &.empty {
        display: none;
        height: 0;
      }

      .form-buttons {
        display:inline-block;
        text-align: right;
        float: right;
        .btn {
          margin: 0 $marginS 0 0;
          line-height: 19px;
          min-height: 19px;
          vertical-align: top;
        }
      }
      .approval-rejected, .approval-approved {
        margin-right: 0;
        padding-right: $marginL;
        &:after {
          vertical-align: baseline;
        }
      }
    }
  }

  .accordion_content {
    display: none;
    padding: $marginS;
    position: relative;
    background: darken($lp-light-grey, 5%);
    .accordion-content-part {
      margin-left: $marginM;
      margin-bottom: $marginM;
    }
    .accordion-fields {
      width: 100%;
      h2 {
        background: darken($lp-light-grey, 5%);
        color: black;
        margin: $marginM 0;
        padding-left: 0;
      }
      .authority-accept-fields {
        h2 {
          background: $lp-light-grey;
        }
      }
      h3 {
        margin-top: $marginM;
      }
      .form-group {
        margin-top: $marginS;
      }
    }
  }

  .accordion_content.expanded {
    display: block;
  }
}

.accordion-indicator {
  z-index: 12000;
  width: 112px;
  min-height: 18px;
  display: none;
  padding: 0 $marginL 0 0;
  margin-left: $marginM;

  .icon {
    display: none;
    @include spite-bg;
  }
  &.accordion-input-saved {
    .icon {
      display: inline-block;
      background-position: 4px -2499px;
      border-right: none;
    }
  }
  &.accordion-input-warn {
    .icon {
      display: inline-block;
      background-position: 4px -3199px;
      border-right: none;
    }
  }
  &.accordion-input-err {
    .icon {
      display: inline-block;
      background-position: 4px -2399px;
      border-right: none;
    }
  }
}

.open-all-accordions {
  width: 100%;
  text-align: right;
  margin-bottom: 6px;
}



