
div.form-grid.allu-group {
  border-top: none;
  span.group-help-text {
    display: block;
    padding: 1em;
    border-left: 8px solid $primary;
    background-color: $gray238;
  }
  label.form-label {
    line-height: 40px;
  }
  label.form-label.tip {
    color: initial;
    &::after {
      color: $negative;
    }
  }
  @include placeholder( $gray221 );
  .h3 {
    border-top: 1px solid $gray221;
    padding-top: .5em;
  }
  .row {
    margin-top: 4px;
    margin-bottom: 0;
  }
}
