
div.form-grid.allu-group {
  border-top: none;
  span.group-help-text {
    display: block;
    padding: 1em;
    border-left: 8px solid $primary;
    background-color: $gray238;
  }
  label.form-label {
    line-height: 40px;
  }
  label.form-label.tip {
    color: initial;
    &::after {
      color: $negative;
    }
  }
  @include placeholder( $gray221 );
  .h3 {
    border-top: 1px solid $gray221;
    padding-top: .5em;
  }
  .row {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

.allu-group--place {
  label {
    padding-top: 2em;
  }
}

// Placeholder for the actual component
textarea.allu-map {
  min-height: 20em;
}

.allu-table {
  table {
    @include no-row-hover;
    td > span.form-entry {
      min-height: 40px;
    }
    td.allu--structure {
      span {
        width: 100%;
      }
    }
    tfoot > tr {
      font-weight: bold;
      border: none;
      td.footer-sum--total {
        text-align: right;
      }
    }}
}

textlink.allu--link {
  display: block;
  .like-btn {
    @include btn-height();
  }
}

.allu-group.allu-group--structures {
  label.form-label {
    display: none;
  }
  .row.allu-row--spaced {
    margin-top: 1em;
  }
}
