.applications-search-top {
  background-color: $gray238;
  border-bottom: 2px solid $gray221;
  .container {
    margin-bottom: 0;
  }
  .button-group {
    float: right;
    button {
      margin-left: $grid-margin;
    }
    margin-bottom: $grid-margin;
  }
  h1 {
    display: inline-block;
  }
}

#invitations {
  background-color: $gray238;
  margin-bottom: -$marginL;
  .container {
    margin-bottom: 0;
  }
}

.applications-search-component {
  clear: both;
}

.search-tabs {
  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-right: $marginS;
    line-height: 40px; // buttons next to tabs are 40px
    vertical-align: middle;
  }
  li {
    background-color: $lp-light-grey;
    color: $color-text;

    cursor: pointer;
    margin-right: $marginS;
    display: inline-block;
    &.selected {
      background-color: darken($lp-light-grey, 10%);
    }
    padding: 0 $marginL;
  }
  input {
    display: inline-block;
    margin: 0;
  }
  button {
    margin: 0 $marginS;
    width: initial;
    padding: 0 $marginL;
    .icon {
      position: relative;
      top: 2px;
      margin-right: $marginM;
    }
  }
}

.paging {
  color: $gray51;
  label {
    color: $gray51;
    margin-bottom: $marginS;
    display: inline-block;
  }
  button {
    margin-right: $grid-margin;
  }
}

div.search {
  position: relative;
  input {
    padding-right: 40px !important;
  }

  &.active {
    i {
      color: $orange-light;
    }
  }
  i {
    color: $primary;
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.applications-search-filters-list {

  .applications-search-filters-list__filters {
    display: table;
  }

  .applications-search-filters-list__filter-row {
    display: table-row;
  }

  .applications-search-filters-list__filter-item {
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    height: $grid-input-height;
    &:first-child {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
  .applications-search-filters-list__filter-item--default-filter {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    overflow: hidden;
  }
  .applications-search-filters-list__filter-item--remove {
    min-width: 105px;
    max-width: 105px;
    width: 105px;
  }
}

.applications-search-results__indicator {
  color: $primary;
  padding: 3px 0 0 0 !important;
  word-wrap: break-word;
  div {
    text-align: center;
    height: auto !important;
    padding: 0 $marginS !important;
    white-space: nowrap;
    i {
      display: table-cell;
    }
    span {
      padding-left: 2px;
      display: table-cell;
      vertical-align: middle;
      color: $grey-text;
    }
  }
  .application-search-results__urgency {
    &.urgent {
      color: $red-dark;
    }
    &.pending {
      color: $orange-dark;
    }
  }
}

.application-search-result__table, .application-foreman-search-result__table {
  th {
    @include disable-select;
    white-space: nowrap;
    padding-right: 16px;
    &.sorting {
      &:hover {
        color: $orange-hover;
        text-decoration: underline;
      }
    }
    span, i {
      vertical-align: middle;
    }
    i {
      position: absolute;
    }
  }
}

.application-search-result__table {
  th {
    &.first {

    }
    &.second {

    }
    &.third {

    }
    &.fourth {

    }
    &.fifth {
      width: 10%;
    }
    &.sixth {
      width: 5%;
    }
    &.seventh {
      width: 5%;
    }
    &.eight {
      width: 10%;
    }
    &.ninth {
      width: 10%;
    }
  }
}

.application-foreman-search-result__table {
  th {
    &.first {
    }
    &.second {
      width: 15%;
    }
    &.third {
      width: 5%;
    }
    &.fourth {
      width: 20%;
    }
    &.fifth {
      width: 15%;
    }
    &.sixth {
      width: 15%;
    }
    &.seventh {
      width: 5%;
    }
    &.eight {
      width: 15%;
    }
  }
}

.assignments-search-result__table {
  th {
    &.first {
      width: 5%;
    }
    &.second {
      width: 15%;
    }
    &.third {
      width: 10%;
    }
    &.fourth {
      width: 25%;
    }
    &.fifth {
      width: 25%;
    }
    &.sixth {
      width: 15%;
    }
  }

  tr {
    td.created {
      color: $red-dark;
    }
    td.completed {
      color: $green;
    }
  }
}

.search-results-waiting {
  i.spin {
    font-size: 2 * $lupicon-size;
    padding: 0;
  }
  span {
    padding-left: 2em;
  }
}
