.archival-summary-document-set {
  margin-bottom: $marginL;

  h2 {
    font-family: $font-heading;
    font-weight: normal;
    margin: $marginL 0 0 0;
    text-transform: uppercase;
    color: $grey-text;
  }
}

.archival-summary-table {
  margin-bottom: $marginM;
  i {
    font-size: 22px;
    &.enabled {
      color: $lp-green;
    }
    &.disabled {
      color: $lp-purple;
    }
  }
  .attachment-type-container {
    @include clearfix;
    .group-label, .type-id {
      float: left;
      width: 50%;
    }
  }
  .column-header-row {
    background-color: #dddddd;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.125em;
    padding: 6px 0;
  }
  .attachment-type-header {
    margin-left: 30px;
  }
  .attachment-row {
    font-size: 14px;
    border-bottom: 1px solid #e9e9e9;
    &:nth-child(even) {
      background-color: whitesmoke;
    }
    &:active, &:hover {
      background-color: lighten($lp-orange, 40%);
      color: inherit;
    }
    .attachment-row-top {
      @include clearfix;
      cursor: pointer;
      padding: 6px 0 5px 0;
      div {
        vertical-align: top;
      }
      position: relative;
      margin-left: 30px;
    }
    .additional-controls {
      @include clearfix;
      .left {
        padding: 6px 16px 15px 16px;
        width: 50%;
      }
      .additional-data-container {
        &:first-child {
          margin-bottom: 15px;
        }
        background-color: #f5f5f4;
        border: 1px solid $lp-dark-grey;
        .header {
          margin: 0 0 15px 0;
          font-size: 16px;
          color: white;
          background-color: $lp-dark-grey;
          padding: 10px 15px;
        }
        .contents {
          padding: 0 15px 15px 15px;
        }
        .preview-image {
          text-align: center;
          img {
            border: 1px solid $lp-dark-grey;
            max-width: 100%;
          }
        }
        .attachment-type-select {
          margin: 0;
          width: 100%;
        }
      }
      .metadata-editor-container {
        margin: 0;
        border: 1px solid $lp-dark-grey;
        .editor-header {
          min-height: 0;
          padding: 10px 15px;
          font-size: 16px;
          i {
            font-size: 18px;
          }
        }
      }
    }
  }
  .archival-status {
    float: left;
    width: 28px;
    padding: 9px 0 0 3px;
    input {
      position: relative;
      top: -2px;
      margin: 0 0 0 2px;
    }
  }
  .archival-status-header {
    float: left;
    width: 28px;
    padding-left: 8px;
  }
  .attachment-type {
    margin-right: 545px;
    padding: 0 6px;
  }
  .small-columns {
    width: 545px;
    float: right;
    div {
      display: inline-block;
      padding: 0 6px;
    }
  }
  .retention-period {
    width: 160px;
  }
  .personal-data {
    width: 170px;
  }
  .will-publish {
    width: 111px;
    text-align: right;
  }
  .stamped {
    width: 92px;
    text-align: center;
  }
  .attachment-group-header {
    margin: 25px 0 15px;
    height: auto;
  }
  .metadata-editor-container {
    .editor-header {
      border-collapse: separate;
    }
  }
}
