.archival-summary-document-set {
  margin-bottom: $marginL;
}

.archival-summary-table {
  margin-bottom: $marginM;
  td {
    vertical-align: top;
  }
  .attachment-type {
    width: 700px;
  }
  .personal-data {
    width: 170px;
  }
  .will-publish {
    width: 100px;
    .lupicon-check {
      font-size: 16px;
      color: $lp-green;
    }
    .lupicon-remove {
      font-size: 16px;
      color: $lp-purple;
    }
  }
  .attachment-type-container {
    @include clearfix;
    .group-label, .type-id {
      float: left;
      width: 50%;
    }
  }
  .attachment-row {
    &:active {
      background-color: lighten($lp-orange, 40%);
      color: inherit;
    }
  }
  .attachment-group-header {
    td {
      padding-top: 12px;
    }
  }
  .metadata-editor-container {
    .editor-header {
      border-collapse: separate;
    }
  }
}
