.autocomplete {
  background: #fff;
  border: 1px solid darken($lp-light-grey, 10%);
  div {
    line-height: $baseline*1.5;
    border-bottom: 1px solid darken($lp-light-grey, 10%);
    cursor:pointer;
    padding-left: $marginS;
    &:hover {
      background-color: darken($lp-light-grey, 5%);
    }
  }

}

.autocomplete-component {
  width: 100%;
  position: relative;
  .autocomplete-selection-wrapper {
    &.active {
      border-color: $orange;
    }
    &.disabled {
      border-color: $input-disabled-border-color;
      background-color: $input-disabled-background-color;
      i.tag-chevron {
        color: $input-select-disabled-icon;
      }
      li.tag {
        color: $input-select-disabled-icon !important;
        cursor: default !important;
        i.tag-remove {
          cursor: default !important;
        }
      }
    }
    position: relative;
    width: inherit;
    min-height: $grid-input-height;
    border: 1px solid $input-border-color;
    min-height: $grid-input-height;
    background-color: #fff;
    span.autocomplete-selection {
      width: 100%;
      height: 100%;
      display: inline-block;
      box-sizing: border-box;
      ul.tags {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          max-width: 100%;
          margin-bottom: -7px;
          margin-right: -4px;
          &.tag {
            cursor: pointer;
            position: relative;
            background-color: #fff;
            border: 1px solid $input-border-color;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $primary;
            span.tag-label {
              line-height: $grid-input-height - 4;
              vertical-align: top;
              margin-right: $marginS;
            }
            .tag-remove {
              line-height: $grid-input-height - 4;
              margin: 0 $marginS;
            }
          }
        }
      }
    }

    span.caption, span.selection-text {
      cursor: default;
      line-height: $grid-input-height - 2;
      padding-left: 6px;
    }
    i.tag-chevron {
      position: absolute;
      bottom: 8px;
      right: 8px;
      cursor: pointer;
      color: $orange-dark;
      margin: 0;
      &.toggle {
        color: $orange-light;
      }
    }
  }

  .autocomplete-dropdown {
    width: inherit;
    position: absolute;
    z-index: 1;
    input.autocomplete-input {
      width: 100%;
      height: $grid-input-height;
      margin-top: -1px;
      display: block;
      box-sizing: border-box;
    }
    ul.autocomplete-result {
      position: absolute;
      top: $grid-input-height - 2; // autocomplete-input height - margin
      z-index: 1000;
      width: inherit;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: auto;
      padding: 0;
      border: 1px solid $orange-light;
      box-sizing: border-box;
      background-color: #fff;
      color: black;

      &.autocomplete-result-grouped {
        li.autocomplete-result-item {
          padding: 0 $marginS*2;
        }
      }

      li {
        height: $grid-input-height;
        line-height: 40px;
      }

      li.autocomplete-result-item, li.autocomplete-result-empty {
        cursor: default;
        display: list-item;
        list-style-type: none;
        padding: 0 $marginS;
      }
      li.autocomplete-result-item {
        cursor: pointer;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: $marginS;
      }
      li.autocomplete-result-item.active {
        background-color: $orange;
        color: #fff;
        &:active {
          background-color: $orange-light;
        }
      }
      li.autocomplete-group-header {
        font-weight: 700;
        padding-left: $marginS;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
