#application-bulletins {
  h1 {
    font-family: $font-heading;
    font-weight: 900;
    font-size: 3.75rem;
    line-height: $baseline *2;
    margin-bottom: $marginS;
    text-transform: none;
  }

  p {
    font-weight: 300;
    font-size: 1.375rem;
    margin-top: $grid-margin;
    button {
      margin-left: $grid-margin;
    }
  }

  .content {
    //
  }

  .blue-bg {
    background-color: $blue-dark;
    h1,p {
      color: #fff;
    }
  }

  .content-center {
    max-width: $application-max-width;
    margin: 0 auto;
    position: relative;
    padding: $grid-margin-large 0;
  }

  .full {
    width: 100%;
    min-width: 320px;
  }

  .slogan, .ingress {
    text-align: center;
    width: 80%;
    margin: 0 auto $grid-margin;
  }
}
