// Simple button
//
// :hover         - Yes, you can press this button
// :active, .act  - You are press all the right buttons
//
// Styleguide 3.1

[type=submit], .btn, button {
  background: darken($lp-light-grey, 15%);
  cursor: pointer;
  display:inline-block;
  font-family:inherit;
  font-size: 0.9em;
  line-height:1.8em;
  font-weight:400;
  width: $cols3;
  margin:0 0 $marginS;
  padding:.25em 1.125em;
  text-decoration:none;
  text-shadow:0px 1px 0px #fff;
  border: none;
  color: rgb(48,48,48);
  position: relative;
  min-height: 1.8em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background: darken($lp-light-grey, 10%);
  }
  &:active, &.act {

  }

  &:disabled, &[disabled=disabled], &.disabled,
  &:disabled:hover, &[disabled=disabled]:hover, &.disabled:hover,
  &:disabled:active, &[disabled=disabled]:active, &.disabled:active {
    color: darken($lp-light-grey, 30%);
    -webkit-box-shadow:none;
    box-shadow:none;
    background: $lp-light-grey;
  }

  &.block{
    display: block;
  }

  span:nth-child(1){
    max-width: 100px;
    height: auto;
  }

}

.btn.left-align {
  float: left;
}

.btn-dialog {
   position: absolute;
   text-align: center;
   bottom: 0;
   right: 6px;
   width: auto;
   padding: 4px $marginL;
   min-width: $cols2;
   max-width: $cols3;;
   margin-left: $marginS;

   &.cancel {
    width: auto;
   }
}

.btn-link {
  line-height:$baseline - 1;
  margin:$baseline;
  padding:1.125em;
  font-size:0.875em;
  font-weight:700;
  overflow: auto;
}

.btn-dialog.btn-primary {
  left: 0;
}

.btn-wizard {
  margin-top: $marginM;
}

.btn-wizard.btn-primary{
  float: right;
  margin-right: $marginL;
}

.btn-narrow {
  width: $cols2;
  text-align: center;
}

.btn-auto {
  width: auto;
  text-align: center;
}

// Primary action button
//
//
// Styleguide 3.1.1

.btn-primary {
  background: $lp-green;
  text-transform:uppercase;
  color: white;
  text-shadow: none;
  font-weight: 600;
   &:hover {
    background: darken($lp-green, 10%);
    -webkit-box-shadow:0 1px 2px darken($lp-light-grey, 20%);
    box-shadow:0 1px 2px darken($lp-light-grey, 20%);
  }
}

// Decline button
//
//
// Styleguide 3.1.2

.btn-decline {
  background: red;
  color: white;
  text-transform:uppercase;
}

// ajax loader for buttons
.button-loader {
  white-space:nowrap;
  display:inline-block;
  width:16px;
  height:16px;
  background-image: url("/img/ajax-loader-grey-small.gif");
  position: absolute;
  top: 6px;
  right: 8px;
}

.btn-nav-forward {
  position: relative;
  max-height: 30px;
  overflow: visible;
  margin-right: 20px;
  text-align: center;

  &:after{
    content: " ";
    width: 0;
    height: 0;
    border-top: 1.15em solid transparent;
    border-left: 22px solid darken($lp-light-grey, 15%);
    border-bottom: 1.15em solid transparent;
    position: absolute;
    top: 0;
    right: -22px;
  }
  &:disabled, &[disabled=disabled], &.disabled,
  &:disabled:hover, &[disabled=disabled]:hover, &.disabled:hover,
  &:disabled:active, &[disabled=disabled]:active, &.disabled:active {
    &:after{
      border-left: 22px solid $lp-light-grey;
    }
  }

  &:hover {
    &:after{
      border-left: 22px solid darken($lp-light-grey, 10%);
    }
  }
  &.btn-primary {
    &:after{
      border-left: 22px solid $lp-green;
    }
    &:disabled, &[disabled=disabled], &.disabled,
    &:disabled:hover, &[disabled=disabled]:hover, &.disabled:hover,
    &:disabled:active, &[disabled=disabled]:active, &.disabled:active {
      &:after{
        border-left: 22px solid $lp-light-grey;
      }
    }
    &:hover {
      &:after{
        border-left: 22px solid darken($lp-green, 10%);
      }
    }
  }
  .icon.right-align {
    right: -12px;
    z-index: 3;
  }
}

.btn-nav-back {
  text-align: center;
  position: relative;
  max-height: 30px;
  margin-left: 22px;
  overflow: visible;

  &:before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 1.15em solid transparent;
    border-right: 22px solid darken($lp-light-grey, 15%);
    border-bottom: 1.15em solid transparent;
    position: absolute;
    top: 0;
    left: -22px;
  }
  &:disabled, &[disabled=disabled], &.disabled,
  &:disabled:hover, &[disabled=disabled]:hover, &.disabled:hover,
  &:disabled:active, &[disabled=disabled]:active, &.disabled:active {
    &:before {
      border-right: 22px solid $lp-light-grey;
    }
  }
  &:hover {
    &:before{
      border-right: 22px solid darken($lp-light-grey, 10%);
    }
  }
  .icon.left-align {
    left: -9px;
    z-index: 3;
  }
}

.btn-container {
  button {
    margin-right: $marginS;
  }
  button:last-child {
    margin-right: 0;
  }
}

.btn-container.right-align {
  float: right;
}

