.context-error {
  color: $error-text;
  border: 1px solid $error-text;
  border-radius: 3px;
  padding: $marginS;
  margin: $marginM 0
}

.error-message {
  display: block;
  margin-left:   5px;
  font-style:    italic;
  color:         $error-text;
}
