footer {
  margin-top: $marginL *2;
  padding-top: $marginL *3;
  clear:both;
  position: relative;
  color:#777;
  font-size:1em;
  padding:$baseline;
  background-image: url('/img/lp-footer.png');
  background-repeat:repeat-x;
  background-position:right top;
  background-color: rgb(231,233,230);
  height: auto;
  .informations {
    position: relative;
    width: 80%;
    max-width: $application-max-width;
    margin: 48px auto $marginM;
    div {
      width: 33%;
      display: inline-block;
      div, a {
        display: block;
      }
    }
    .user-information, sade-information {
      margin-top: 128px;
    }
    .sade-information {
      a, span {
        display: inline;
        width: auto;
      }
    }
    .contact-information {
      width: 33%;
      div {
        display: inline-block;
        width: 42%;
        div, a {
          width: 80%;
        }
      }
    }
  }
  a {
   color:#222;
  }
  p {
    margin:0;
  }
  form label {
    display:  inline-block;
    padding: 6px;
    font-size: 16px;
    line-height: $baseline;
    width: auto;
  }
  #buildinfo {
    position: absolute;
    right: $marginS;
    bottom: $marginS;
  }
}
