// Footer colors.
$footer-bg: #333;
$footer-bi-bg: #111; // bi = build info
$footer-txt: $gray255;
$footer-link: $orange;
$footer-hover: $gray255; // Hover and active
$footer-bi: #555;

footer {
  margin-top: $marginL*3;
  padding-top: $marginL;
  position: absolute;
  clear:both;
  color: $footer-txt;
  background-color: $footer-bg;
  height: auto;
  bottom: 0;
  width: 100%;

  .informations {
    padding: $marginM;
    width: 100%;
    max-width: $application-max-width;
    margin: 0 auto $marginM;
    .footer-box {
      font-size: 16px;
      vertical-align: top;
      width: 24.5%;
      display: inline-block;
      float: left;
      padding-right: $marginL;
      box-sizing: border-box;
      h3 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: .5em;
      }
      a:link, a:visited {
          color: $footer-link;
          display: inline-block;
          text-decoration: none;
          &:hover, &:active { color: $footer-hover }
      }
    }
  }

  .lupapiste-brand {
    .footer-box {
      @include nav-link($link: $orange, $hover: white);
      color: $blue;
      a {
        vertical-align: middle;
        span {
          vertical-align: baseline;
        }
      }
      i {
        vertical-align: middle;
        padding-left: $marginS;
      }
    }
    .footer-align-right {
      float: right;
      ul {
        float: right;
      }
    }
  }

  @media (max-width:991px) {
      .footer-box {
          clear: left;
      }
      .footer-box {
          min-width: 49%;
      }
  }

  p {
    color: $footer-txt;
  }
}

@media (max-width:991px) {
  body {
    padding-bottom: $footer-max-padding !important; // from _base.scss
  }
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: {
        bottom: .5em;
        top: 0;
    }
}

#buildinfo {
    clear: both;
    display: block;
    background-color: $footer-bi-bg;
    padding: $marginM;
    color: $footer-bi;
}

