legend {
  font-size: $baseline * 0.9;
  font-family: $font-heading;
  margin:0 0 $marginM;
}

// Text fields
//
// :hover   - Subtle hover style
// :focus   - Tell the user "Hello, you've selected me!"
//
// Styleguide 2.1
[type="text"], [type="email"], [type="tel"], [type="url"], [type="password"], [type="time"], [type="number"], select, textarea {
  background: #fff;
  border: 1px solid #c9c9c9;
  font-size: 0.875em;
  margin:0;
  outline: 0;
  padding-left: 0.5em;


  -webkit-transition: border 125ms ease;
  -moz-transition: border 125ms ease;
  -ms-transition: border 125ms ease;
  -o-transition: border 125ms ease;
  transition: border 125ms ease;

  -webkit-box-shadow: inset 0 2px 3px darken($lp-light-grey, 10%), 0 1px 0 #fff;
  box-shadow: inset 0 2px 3px darken($lp-light-grey, 10%), 0 1px 0 #fff;

  &:hover {
    border-color:#b5b5b5;
  }

  &:focus {
    border-color: #17c;
    -webkit-box-shadow: inset 0 2px 4px darken($lp-light-grey, 20%), 0 1px 0 #fff;
  }
  // newbies
  &.source-value-changed {
    border: 2px solid $lp-green;
  }
  &.error {
    border-color: red;
    border-width: 3px;
  }
  &.warn {
    border-color: red;
    border-width: 3px;
  }
  &.tip {
    border-color: lighten($lp-orange, 10%);
    border-width: 1px;
  }
}

// Drop-down
//
// Styleguide 2.2
select {
  margin:0;
}

// Checkboxes
//
// Styleguide 2.3

label + label {
  margin-left:15px;
}

input[readonly], textarea[readonly] {
  background: none;
  border: none;
  font-size: 0.875em;
  margin:0;
  outline: 0;
  padding-left: 0.5em;
  cursor: text;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  &:hover {

  }

  &:focus {

    -webkit-box-shadow: none;
  }

}

.form-indicator {
  z-index: 12000;
  position: absolute;
  min-height: 18px;
  display: none;
  top: 20px;
  right: 8px;
  padding: $marginS;
  color: $grey-text;
  background-color: white;
  border: 1px solid $lp-light-grey;
  box-shadow: 1px 1px 2px $lp-dark-grey;
  white-space: nowrap;

  .icon {
    @include spite-bg;
    display: none;
    height: 24px;
    width: 24px;
    vertical-align: top;
    margin: 0;
  }
  .text {
    display: inline-block;
    vertical-align: top;
  }
  &.form-input-saved {
    .icon {
      background-position: 6px -2496px;
      display: inline-block;
    }

  }
  &.form-input-warn {
    .icon {
      background-position: 6px -3196px;
      display: inline-block;
    }
  }
  &.form-input-err {
    .icon {
      background-position: 6px -2396px;
      display: inline-block;
    }
  }
}

.save-indicator {
}

.errorPanel {
  z-index: 10000;
  position: absolute;
  width: 300px;
  display: none;
  top: 76px;
  left: 0px;
  padding: $marginS $marginM;
  color: red;
  background-color: lighten($lp-light-grey, 40%);
  border: 1px solid red;
  span {
    display: block;
    padding-top: $marginS;
    &:first-child {
      padding-top: 0;
    }
  }
}

.form-entry {
  display: inline-block;

  margin-right: $marginS;
  position: relative;
  min-height: 48px;
  vertical-align: top;
  label {
    display: inline-block;
  }
  button {
    display: inline-block;
  }
  .form-input {
    margin-right: $marginL*1.5;
  }
}

.form-full-width {
  width: 60%;
  .form-help {
    right: -350px;
  }
  .form-label {
    width: 90%;
  }
}

.form-single-line {
  display: block;
}

.form-header {
}

.form-label {
  font-size: 16px;
  line-height: $baseline;
  margin-right: $marginS;
  width: auto;
  vertical-align: bottom;
}

.form-label.tip {
  color: $lp-orange;

  &:after {
    content: "*";
    display: inline;
  }
}
.form-label.warn {
  color: red;
  font-weight: bold;
  &:after {
    content: "!";
    display: inline;
  }
}


.form-container {
  margin-top: $baseline;
  padding: $baseline;
  label {
    display: inline-block;
  }
}

.form-input {
  height: 22px;
  line-height: $baseline;
  margin: 2px $marginS $marginM 0;
  width: $cols3;
  display: block;

  &.long {
    width: $cols5;
  }
}

input.form-input.long {
  width: $cols5;
}

.form-add {
  display: block;
}

.form-input.file {
  height: $baseline;
}

.form-input.checkbox, [type="checkbox"], .form-input.radio, [type="radio"] {
  width: auto;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 $marginS 2px $marginS;
  width: 14px;
  height: 14px;
  padding: 0;
  &.error {
    outline: 3px solid red;
  }
  &.warning {
    outline: 3px solid $lp-orange;
  }
  &.source-value-changed {
    outline: 2px solid $lp-green;
  }
}

.form-input.combobox, select {
  width: $cols3;
  height: 30px;
  padding: 4px;
  &.long {
   width: $cols5;
  }
}

.form-input.other{
  display: inline;
  margin-top: -40px;
  margin-left: $cols3 + 1em;
  width: $cols3;
}
.form-group, .form-choice, .form-table {
  overflow:visible;
  //border-radius: 3px;
  display: block;
  //margin: 0 $marginS $marginS 0;
  //padding: $marginS $marginS 0 $marginS;
  //background: $lp-light-grey;
  padding: {
    left: $marginS;
    right: $marginS;
  }
  box-sizing: border-box;
  border-bottom: 1px solid $gray221;
  &:last-child
  {
    border-bottom: none;
  }
  table {
    width: auto;
  }
  .form-group {
    margin:$marginS;
  }
  .form-input {
    display: block;
  }
  .form-input.checkbox, .form-input.radio {
    margin: 0 $marginS 2px 0;
    display: inline-block;
  }
  .form-label-checkbox{
    vertical-align: middle;
    width: 262px;
    margin-right: 4px;
  }
  .form-label-group, .form-label-table {
    width: 100%;
    display: block;
    //text-transform: uppercase;
    font-family: $font-heading;
    font-weight: bold;
    margin-bottom: $marginS;
  }
  .form-entry {
    display: inline-block;
    width: 300px;
    min-height: 48px;
  }
}
.form-choice {
  .form-entry {
    display: inline-block;
    min-width: 45%;
    .form-input {
    display: inline-block;
    }
    .form-input.textarea {
      height: $baseline *3;
      width: 80%;
    }
    .form-indicator{
      top: 0;
    }
  }
}
.form-info {
  display: inline;
  color: red;
  margin: $marginM;
}

.form-error {
  display: inline;
  color: red;
  margin: $marginM;
  font-weight:bold;
}

.form-input-warn {
  font-weight:bold;
}

.form-input-err {
  font-weight:bold;
}

.form-input.textarea {
  height: $baseline *7;
  width: 80%;
}

.form-input-and-unit {
  display: block;
  margin-right: $marginM;
}
.form-input-and-unit .form-input {
  display: inline-block;
  margin-right: $marginM;
}
.form-string-unit {
}

.form-input.tiny {
 width: $cols1 / 2;
}

.form-input.short {
 width: $cols1;
}

.form-input.medium {
 width: $cols2;
}

// docgen-spefic styles
.docgen-content {
  transition: width 600ms;
  -webkit-transition: width 600ms; /* Safari */
 .form-choice {
    .form-entry {
      min-height: 38px;
      display: inline-block;
      min-width: 49%;
      width: auto;
      margin-top: 8px;
      height: auto;
      label {
        vertical-align: top;
        width: 90%
      }
      input {
        vertical-align: text-top;
      }
      .form-input-and-unit {
        display: inline-block;
        margin-right: $marginM;
        input {
          width: $cols1;
        }
      }
    }
  }
  .form-entry {
    min-width: 300px;
    min-height: 64px;

    &.long {
      min-width: 480px;
    }
    &.personSelector, &.companySelector {
      display: block;
      width: auto;
      label {
        display: block;
      }
      .form-input {
        display: inline-block;
      }
    }
  }
  .form-entry.radioGroup {
    min-height: 32px;
  }
  .form-full-width {
    width: 80%;
  }
  .form-group {
    overflow: visible;
    .form-entry {
      .form-input.text, .form-input.combobox,  .form-input.email {
      }
      .form-label-string-choice, .form-label-select, .form-label-date {
        vertical-align: text-bottom;
      }
    }
    .form-entry.personSelector .form-label-select {
      bottom: 80px;
    }
  }

  .long {
    width: $cols3;
  }
  .really-long {
    width: $cols5;
  }

  .form-table td, .form-table th {
    padding: $marginS $marginM;
  }

  #table-huoneistot, #table-muutHankkeet {
    td, th {
      padding: $marginS;
    }

    td {
      text-align: center;
    }
    tr:hover{
      background-color: white;
      &:nth-child(even) {
        background: darken($lp-light-grey, .5%);
      }
    }
  }

  .form-table th:first-child {
    border-left: none;
  }

  .form-table th {
    vertical-align: bottom;
    border-style: solid;
    border-left: 1px solid #ffffff;
    border-top: none;
    border-bottom: none;
    border-right: none;
  }

  .form-table .form-input {
    display: inline;
    margin: 0;
  }

  .form-table {
    .form-input .text {
      height: 25px;
    }
  }

  .form-table .form-input.combobox, select {
    width: $cols2;
  }

  .form-table .form-indicator {
    right: auto;
    top: 0;
    height: 28px;
    width: 28px;
    padding: 0;

    .icon {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 0;
      margin: 0;
    }

    .form-input-saved {
      .icon {
        background-position: 4px -2494px;
      }
    }
  }

  .form-table .form-entry {
    display: block;
    width: 100%;
    min-width: 50px;
    min-height: 30px;
  }

  .form-table .errorPanel {
    top: 38px;
  }

  .form-table .form-help {
    bottom: 45px;
  }

  .button-group {
    width: 100%;
    padding: {
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
    }
    background-color: $gray246;
    border-bottom: 1px solid $gray221;
    /* .btn, button { */
    /*   margin-right: 10px */
    /* } */
  }
}


// Padding tweaks for special cases.
.accordion-fields > .form-entry,
.accordion-fields > .verdict-info-fields,
.accordion-fields > div p {
  padding: {
    left: $marginS;
    right: $marginS;
  }
}




.accordion-fields button.margins-s {
  margin-bottom: 0;
}

.accordion_content > .group-help-text {
  display: block;
  margin: {
    left: $marginS;
    right: $marginS;
  }
}

.kiintun-and-maaraalatunnus {
  .form-maaraala {
    display: inline;
  }
  .form-input.text {
    display: inline;
    width: 48px;
    margin: 0 4px;
  }

}

.group-buttons {
  width: 100%;
  display: block;
  overflow-y: hidden;
  text-transform: none;
  .is-right {
    float: right;
    margin-left: $marginS;
  }
  .is-left {
    float: left;
    margin-right: $marginS;
  }
  padding-right: $marginS;
  padding-left: $marginS;
  margin: {
    top: $marginS;
    bottom: $marginS;

  }
}

// Top-level group buttons tweaks
.accordion-toggle > .group-buttons {
  background-color: $gray246;
  border: 1px solid $gray221;
  padding: {
    top: $marginS;
    bottom: $marginS;
  }
  margin: 0;
}

.button-group button.is-right {
  margin-right: 0;
}

.form-approval-status {
  text-transform: none;
  //width: 100%;
  display: inline-block;
  min-height: 32px;

  &.empty {
    display: none;
    height: 0;
  }

  .form-buttons {
    //display:inline-block;
    text-align: right;
    float: right;
    min-width: 200px;
  }
  i.approved, i.rejected  {
    display: none;
  }
  &.approved {
    i.approved {
      display: table-cell;
    }
  }
  &.rejected {
    i.rejected {
      display: table-cell;
    }
  }
}

.form-approval-status.approved ~ button.approved {
  display: none;
}

.form-approval-status.rejected ~ button.rejected {
  display: none;
}

section.approved .group-buttons  {
    button.approved {
      display: none;
    }
    i.rejected {
      display: none;
    }
    i.approved {
      display: table-cell;
    }
    button.rejected {
      display: table-cell;
    }
}

.is-status .like-btn {
  @include btn-height;
  min-width: 500px;
  span {
    color: $gray187;
  }
  .lupicon-circle-attention {
    color: $red;
  }
  .lupicon-circle-check {
    color: $green;
  }
  .approved {
    padding-right: $icon-pad;
  }
}

// Top-level reject button should be invisible
// when the bar is in rejected mode.
button.rejected ~ .group-buttons .is-top.rejected {
  display: none;
}

.is-middle {
  vertical-align: middle;
}

.description-bubble {
  //display: none;
  display: block;
  //overflow-y: visible;
  position: relative;
  float: left;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  border-radius: 2px;
  border: 1px solid $orange-light;
  padding: $marginS $marginS $marginS $marginS;
  margin-top: 15px;
  &:after, &:before {
             bottom: 100%;
             left: 5%;
             border: solid transparent;
             content: " ";
             height: 0;
             width: 0;
             position: absolute;
             pointer-events: none;
           }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: transparentize( $orange-light, 1 );
    border-bottom-color: $orange-light;
    border-width: 11px;
    margin-left: -11px;
  }
  input {
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    width: 100%;
    box-shadow: none;
    color: $gray51;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.description-bubble.is-closed {
  display: none;
}

.form-help {
  min-height: 100px;
  padding: $marginS $marginL $marginS $marginS;
  width: 350px;
  background: $lp-dark-grey;
  color: white;
  display: none;
  position: absolute;
  bottom: 88px;
  left: 0;
  z-index: 11000;
  box-shadow: 2px 2px 3px $lp-dark-grey;
  text-align: left;
  &:after {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -14px;
    left: 6px;
    display: block;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid $lp-dark-grey;
  }
  &:before {
    content: " ";
    @include spite-bg;
    width: 16px;
    height: 16px;
    background-position: 0px -2700px;
    position: absolute;
    top: 6px;
    right: 6px;
  }
}
.form-full-width {
  .form-help {
    top: 4px;
    left: 85%;
    bottom: auto;
    width: 55%;
    &:after {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      top: 16px;
      left: -14px;
      display: block;
      border-left: none;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-right:14px solid $lp-dark-grey;
    }
    &:before {
      content: " ";
      @include spite-bg;
      width: 16px;
      height: 16px;
      background-position: 0px -2700px;
      position: absolute;
      top: 6px;
      right: 6px;
    }
  }
}



#neighbor-show {

  [type="checkbox"] {
    &:disabled {
      position: relative;
      visibility: hidden;
      &:checked {
        visibility: visible;
        opacity: 1;
        border: 1px solid #f6f6f6 !important;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #f6f6f6 url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/checkmark-24-512.png) center center no-repeat;
        background-size: 12px 12px;
      }
    }

  }
  [type="radio"] {
    &:disabled {
      position: relative;
      visibility: hidden;
      &:checked {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.three-col {
  width: 100%;

  .form-input {
    width: 17.25em;
  }

  .col1 {
    float: left;
    padding-right: $marginM;
  }

  .col2 {
    float: left;
    padding-left: $marginM;
    padding-right: $marginM;
  }
  .col3 {
    float: left;
    padding-left: $marginM;
  }
}

foreman-history {
  h2 {
    background-color: $lp-light-grey !important;
  }
  th.first {
    width: 10%;
  }
  th.second {
    width: 15%;
  }
  th.third {
    width: 10%;
  }
  th.fourth {
    width: 20%;
  }
  th.fifth {
    width: 45%;
  }
}

.indicator-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

div.alleYli-radioGroup {
  display: inline-block;
  margin-top: $marginL;
}
