$header-padding: 12px;
$header-height: 60px;
$brand-width: 188px;
$language-bg: $gray85;
$language-padding: 20px;

@mixin header-padding {
  padding: {
    left: $header-padding;
    right: $header-padding;
  }
}

@mixin nav-link( $link: $orange, $hover: white, $hover-bg: inherit, $active: $hover ) {
  a {
    font-size: 16px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    // Reminder of order: link, visited, hover, active
    &:link, &:visited {
              color: $link;
              text-decoration: none;
              span {
                color: $link;
              }
            }
    &:hover, &:active {
      background-color: $hover-bg;
    }
    &:hover {
      color: $hover;
      span {
        color: $hover;
      }
    }
    &:active {
      color: $active;
      span {
        color: $active;
      }
    }
    span {
      vertical-align: middle;
    }
  }
}

@mixin language-select( $link: $orange, $hover: white, $bg: inherit, $hover-bg: $language-bg ) {
  @include nav-link( $link: $link, $hover: $hover, $hover-bg: $hover-bg );
  background-color: $bg;
  display: inline-block;
  margin: 0;
  float: left;
  a {
    padding: {
      left: $language-padding;
      right: $language-padding;
      top: 0;
      bottom: 0;
    }
  }
  a, span {
    vertical-align: middle;
    line-height: $header-height;
    text-transform: uppercase;
    overflow: hidden;
  }
}

@mixin nav-row( $bg ) {
  width: 100%;
  background-color: $bg;
  display: block;
  clear: both;
  box-sizing: border-box;
}

.nav-wrapper {
  width: 100%;
}

.nav-box {
  width: 100%;
  max-width: $application-max-width;
  min-width: $application-min-width;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  margin: {
    left: auto;
    right: auto;
  }
}

nav {
  position: fixed;
  top:0;
  z-index: 2002;
  box-sizing: border-box;
  width: 100%;
  .nav-top {
    @include nav-row($gray51);
    height: $header-height + 2;
  }
  .brand {
    position: relative;
    width: $brand-width;
    display: inline-block;
    float: left;
    a.logo {
      float: left;
      width: 164px;
      height: 35px;
      margin: 12px;
      background: url("/lp-static/img/logo.png");
    }
  }
  .language-closed {
    @include language-select;
  }
  .language-open {
    @include language-select($link: white, $hover: $orange, $bg: $language-bg);
  }

  .header-menu {
    display: inline-block;
    position: absolute;
    right: 0px;

    .header-box {
      @include nav-link;
      @include header-padding;
      display: inline-block;
      height: $header-height;
      a {
        max-width: 300px;
        outline: 0;
      }
      a, span {
        line-height: $header-height;
      }
    }
  }
}

.nav-bottom {
  @include nav-row( $language-bg );
  .language-menu {
    width: 100%;
    clear: both;
    padding: {
      top: 1em;
      left: $brand-width + $language-padding;
      bottom: .5em;
    }
    background-color: $language-bg;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        @include nav-link( $link: white, $hover: $orange);
        margin: {
          bottom: .5em;
          top: 0;
        }
      }
    }
  }
}

nav {
  .julkipano-brand {
    a.logo {
      background: none;
    }

    .header-box {
      @include nav-link($link: $orange, $hover: white);
    }
    #header-user-menu {
      display: inline-block;
      position: absolute;
      right: 0px;
    }
    .header-box, .julkipano-user {
      font-size: 16px;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 60px;
      color: #fff;
      margin-right: $marginL;
      span {
        vertical-align: middle;
      }
    }
    .language-closed {
      @include language-select( $link: $orange );
    }
    .language-open {
      @include language-select( $link: white, $hover: $orange, $bg: $language-bg );
    }

    .nav-bottom {
      ul {
        li {
          @include nav-link($link: white, $hover: $orange);
        }
      }
    }
  }
}

// The margins/paddings may seem arbitrary, but
// they are due to rendering differences between
// different browsers.
$notification-bg: $orange-dark;
$notification-top: 60px;
$notification-bottom: -60px;

.nav-notification {
  @include nav-row( $orange-dark );
  padding: {
    left: $header-padding;
    top: $header-padding + 1px;
    bottom: $header-padding;
  }
  margin: {
    top: $notification-top;
    bottom: $notification-bottom;
  }
  &:after {
    clear: both;
  }
}

// Admin & authority admin nav is different, so tweaking is needed.
.admin, .authority-admin {
  .nav-notification {
    margin: {
      top: $notification-top + 42px + 4px;
      bottom: $notification-bottom + 12px;
    }
  }

  .breadcrumb {
    background-color: #4F4F4F;
    .container {margin-top: 0;}
    a.selected {color: #000}
  }

  h2 {margin-top: $marginM}
}

/* Louhi and Facta themes */

.louhi, .facta {
  nav {
    a.logo {
      background: url("/lp-static/img/logo-v2-flat.png");
    }

    .nav-top {
      background-color: #fff;
    }
    .language-closed {
      @include language-select( $link: black, $hover: $orange, $hover-bg: inherit );
    }
    .language-open {
      @include language-select( $link: black, $hover: $orange, $hover-bg: inherit );
    }
      .header-box {
      @include nav-link( $link: $orange-link, $hover: $orange-hover, $active: $orange-active );
      }
    }
    #logout-header-box { display: none; }
}

//
// Role-selector:
//   Sorry for the importants.
//   This is why BEM is so important.
//   Fuck these cascades.
//

.role-selector {
}

.role-selector-dropdown-toggle-button {
  @include nav-link;
  @include header-padding;

  display: inline-flex !important;
  flex-flow: row;
  align-items: center;

  height: 100% !important;
  color: $orange;
  text-decoration: none !important;

  span {
    line-height: 20px !important;
  }

  &:hover {
    background-color: $language-bg !important;
  }
}

.role-selector-user-icon {
  padding-right: 5px;
}

.role-selector-user {
  display: flex;
  flex-flow: column;
}

.role-selector-user-name {
  display: inline-block;
}

.role-selector-user-role {
  display: inline-flex;
  flex-flow: row;
  font-size: 80%;
}

.role-selector-user-role-name {
  display: inline-block;
}

.role-selector-user-role-sep {
  padding: 0 5px 0 5px;
}

.role-selector-user-role-org {
  display: inline-block;
}

.role-selector-open-indicator {
  padding-left: 5px;
}

.role-selector-dropdown {
  position: relative;
  display: inline-block;
}

.role-selector-dropdown-content {
  position: absolute;
  background-color: white;
  min-width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  margin-top: 1px;
  padding-top: 12px
}

.role-selector-dropdown-item {
  display: block !important;
  padding: 0 12px 0 12px;
  line-height: 32px !important;
  color: black;
}

.role-selector-dropdown-role {
  text-decoration: none !important;

  &:hover {
    background-color: rgb(243, 170, 74) !important; // TODO: what variable this color is?
  }

  span {
    color: black !important;
  }

  .role-selector-dropdown-role-icon {
    padding-right: 0.4rem;
  }

  &.role-selector-dropdown-role-disabled {
    pointer-events: none;
    cursor: pointer !important;

    span {
      color: #8a8a8a !important;
    }
  }
}

.role-selector-dropdown-organization {
  color: #8a8a8a;
}
