$header-padding: 12px;
$header-height: 60px;
$brand-width: 188px;
$language-bg: $gray85;

@mixin header-padding {
  padding: {
    left: $header-padding;
    right: $header-padding;
  }
}

@mixin nav-link( $link: $orange, $hover: white, $hover-bg: inherit, $active: $hover ) {
  a {
    font-size: 16px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    // Reminder of order: link, visited, hover, active
    &:link, &:visited {
              color: $link;
              text-decoration: none;
              span {
                color: $link;
              }
            }
    &:hover, &:active {
      background-color: $hover-bg;
    }
    &:hover {
      color: $hover;
      span {
        color: $hover;
      }
    }
    &:active {
      color: $active;
      span {
        color: $active;
      }
    }
    span {
      vertical-align: middle;
    }
  }
}

@mixin header-dropdown( $link: $orange, $hover: white, $bg: inherit, $hover-bg: $language-bg ) {
  display: inline-block;

  > .header-dropdown-button {
    display: inline-block;
    @include header-padding;
    padding-top: 1px;
    padding-bottom: 1px;
    height: $header-height;
    line-height: $header-height;
    color: $link;
    text-decoration: none;

    > span { vertical-align: middle; }

    &:hover { color: $hover; }
    &:focus { outline: none; }
  }
  &.active > .header-dropdown-button {
    background-color: $hover-bg;
    color: $hover;

    &:hover { color: $link; }
  }

  > ul {
    display: none;
    position: fixed;
    padding: 0;
    background-color: white;
    border: 1px solid $link;
    list-style-type: none;

    > li {
      display: table;
      width: 100%;

      > a {
        display: table-cell;
        width: auto;
        @include header-padding;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: black;

        > span { vertical-align: middle; }
      }

      &:hover {
        background-color: $link;

        > a {
          color: $hover;
          text-decoration: none;
        }
      }

      &.spacer {
        height: 1px;
        background-color: $link;
      }
    }
  }
  &.active > ul {
    display: block;
  }
}

.usage-purpose-org-name {
  display: block;
  margin-left: 27px;
  font-size: smaller;
}

@mixin nav-row( $bg ) {
  width: 100%;
  background-color: $bg;
  display: block;
  clear: both;
  box-sizing: border-box;
  overflow: hidden;
}

.nav-wrapper {
  width: 100%;
}

.nav-box {
  width: 100%;
  max-width: $application-max-width;
  min-width: $application-min-width;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: {
    left: $marginM;
    right: $marginM;
  }
  margin: {
    left: auto;
    right: auto;
  }
}

nav {
  position: fixed;
  top:0;
  z-index: 2002;
  box-sizing: border-box;
  width: 100%;
  .nav-top {
    @include nav-row( $gray51);
  }
  .brand {
    position: relative;
    width: $brand-width;
    display: inline-block;
    float: left;
    a.logo {
      float: left;
      width: 164px;
      height: 35px;
      margin: 12px;
      background: url("/lp-static/img/logo.png");
    }
  }
  .header-menu {
    display: inline-block;
    position: absolute;
    right: 20px;

    .header-box {
      @include nav-link;
      @include header-padding;
      display: inline-block;
      height: $header-height;
      a {
        max-width: 300px;
        outline: 0;
      }
      a, span {
        line-height: $header-height;
      }
    }
  }

  .header-dropdown { @include header-dropdown; }
}

nav {
  .julkipano-brand {
    a.logo {
      background: none;
    }

    .header-box {
      @include nav-link($link: $orange, $hover: white);
    }
    #header-user-menu {
      display: inline-block;
      position: absolute;
      right: 0px;
    }
    .header-box, .julkipano-user {
      font-size: 16px;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 60px;
      color: #fff;
      margin-right: $marginL;
      span {
        vertical-align: middle;
      }
    }
  }
}

// The margins/paddings may seem arbitrary, but
// they are due to rendering differences between
// different browsers.
$notification-bg: $orange-dark;
$notification-top: 60px;
$notification-bottom: -60px;

.nav-notification {
  @include nav-row( $orange-dark );
  padding: {
    left: $header-padding;
    top: $header-padding + 1px;
    bottom: $header-padding;
  }
  margin: {
    top: $notification-top;
    bottom: $notification-bottom;
  }
  &:after {
    clear: both;
  }
}

// Admin & authority admin nav is different, so tweaking is needed.
.admin, .authority-admin {
  .nav-notification {
    margin: {
      top: $notification-top + 42px + 4px;
      bottom: $notification-bottom + 12px;
    }
  }

  .breadcrumb {
    background-color: #4F4F4F;
    .container {margin-top: 0;}
    a.selected {color: #000}
  }

  h2 {margin-top: $marginM}
}

/* Louhi and Facta themes */

.louhi, .facta {
  nav {
    a.logo {
      background: url("/lp-static/img/logo-v2-flat.png");
    }

    .nav-top {
      background-color: #fff;
    }

    .header-box {
      @include nav-link( $link: $orange-link, $hover: $orange-hover, $active: $orange-active );
      }
    }
    #logout-button { display: none; }
}
