$header-padding: 12px;
$header-height: 60px;
$brand-widhth: 188px;

@mixin header-padding {
    padding: {
      left: $header-padding;
      right: $header-padding;
    }
}

@mixin nav-link {
    a {
        font-size: 16px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        // Reminder of order: link, visited, hover, active
        &:link, &:visited {
                    color: $orange;
                    text-decoration: none;
                    span {
                        color: $orange;
                    }
                }
        &:hover, &:active {
                     color: white;
                     span {
                         color: white;
                     }
                 }
        span {
            vertical-align: middle;
        }
    }
}


nav {
  position: fixed;
  top:0;
  z-index: 2002;
  height: $header-height;
  box-sizing: border-box;
  width: 100%;
  background: $gray51;
  .nav-wrapper {
    width: 100%;
    max-width: $application-max-width;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    .brand {
      position: relative;
      width: 188px;
      display: inline-block;
      float: left;
      a img {
        float: left;
        width: 164px;
        height: 35px;
        margin: 12px;
      }
    }
    .language-select {
        @include nav-link;
        @include header-padding;
        display: inline-block;
        a, span {
            vertical-align: middle;
            line-height: $header-height;
            text-transform: uppercase;
        }
        float: left;
        position: relative;
    }

    .header-menu {
      display: inline-block;
      position: absolute;
      right: 0px;
      
      .header-box {
          @include nav-link;
          @include header-padding;
          display: inline-block;
          height: $header-height;
          a {
              max-width: 300px;
          }
          a, span {
            line-height: $header-height;
          }
      }
    }
  }
}
