@mixin info-icon {
  content:"";
  display: block;
  @include spite-bg;
  background-position: 0px -2900px;
  height:32px;
  width: 30px;
  margin-right: -$marginM;
  margin-top: -$marginS;
  float: right;
}

.icon.help {
  @include disable-select;
  position: relative;
  cursor: pointer;
}

.help {
  margin-left: $marginM;
  margin-bottom: $marginM;
}

.icon.help.expanded {
  margin-bottom: 15px;
  &:after {
    content: " ";
    border-left: 16px solid transparent;
    border-bottom: 16px solid $lp-dark-grey;
    border-right: 16px solid transparent;
    position: absolute;
    top: 38px;
  }
}


/* .help-expanded { */
/*   border-left: 16px solid transparent; */
/*   border-bottom: 16px solid $orange; */
/*   border-right: 16px solid transparent; */
/* } */

.help-arrow {
  position: relative;
  z-index: 100;
}
.help-arrow:after, .help-arrow:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index: 100;
        overflow-y: visible;
}

.help-arrow:after {
  border-color: transparentize( $gray246, 1);
  border-bottom-color: $gray246;
  border-width: 14px;
  margin-left: -14px;
}
.help-arrow:before {
  border-color: transparentize( $orange, 1);
  border-bottom-color: $orange;
  border-width: 15px;
  margin-left: -15px;
}

.help-toggle {
  margin: {
    left: $marginM;
    //bottom: $marginM;
  }
  display: inline-block;
  color: $orange-dark;
  text-align: center;
  .lupicon-circle-question {
    margin: {
      top: 5px;
      bottom: 10px;
    }
    cursor: pointer;
  }
  .lupicon-circle-question.expanded {
    color: $orange;
  }
}

.stacked .help-arrow {
  overflow-y: visible;
  margin-top: 20px;
  //margin-bottom: -20px;
  margin-bottom: -1px;
}

.stacked.help-toggle {
  overflow-y: visible;
}


.help-text {
  display: none;
  position: relative;
  width: 60%;
  /* text-align: justify; */
  background: $gray246;
  color: $gray51;
  padding: $marginM;
  margin-bottom: $marginL;
  border: 1px solid $orange;
  /* a { */
  /*   color: white; */
  /*   font-weight: bold; */
  /* } */
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tab-info {
  width: 80%;
}

// Reset is needed to make sure that the text flow is reset.
// Without this the first element after (collapsed) help
// could start with wrong alignment.
.help-reset {
  clear: both;
  max-height: $marginS;
}


.panel-info {
  width: 100%;
  text-align: justify;
}

.instructions {
  &:before {
    @include info-icon;
  }
  h3 {
    display: inline-block;
    margin-right: $marginS;
  }
}

.expanded-content {
  max-height:0;
  overflow: hidden;
  transition: max-height 400ms;
  -webkit-transition: max-height 400ms; /* Safari */
  &.expand {
    max-height: 1000px;
  }
}

.page-info {
  width: 60%;
  margin: $marginM 0;

}
