@mixin info-icon {
  content:"";
  display: block;
  @include spite-bg;
  background-position: 0px -2900px;
  height:32px;
  width: 30px;
  margin-right: -$marginM;
  margin-top: -$marginS;
  float: right;
}

.icon.help {
  @include disable-select;
  position: relative;
  cursor: pointer;
}

.help {
  margin-left: $marginM;
  margin-bottom: $marginM;
}

.icon.help.expanded {
  margin-bottom: 15px;
  &:after {
    content: " ";
    border-left: 16px solid transparent;
    border-bottom: 16px solid $lp-dark-grey;
    border-right: 16px solid transparent;
    position: absolute;
    top: 38px;
  }
}

.tab-info {
  display: none;
  width: 60%;
  text-align: justify;
  background: $lp-dark-grey;
  color: white;
  padding: $marginM;
  margin-bottom: $marginL;
  box-shadow: 2px 2px 3px $lp-dark-grey;
  a {
    color: white;
    font-weight: bold;
  }
  p {
    color: white;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tab-info-continued {
  width: 60%;
}

// .tab-info:before {
//   @include info-icon;
// }

.panel-info {
  width: 100%;
  text-align: justify;
}

.instructions {
  &:before {
    @include info-icon;
  }
  h3 {
    display: inline-block;
    margin-right: $marginS;
  }
}

.expanded-content {
  max-height:0;
  overflow: hidden;
  transition: max-height 400ms;
  -webkit-transition: max-height 400ms; /* Safari */
  &.expand {
    max-height: 1000px;
  }
}
