#indicator {
  .indicator-bar {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 2002;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
  }

  .indicator-box {
    max-width: $application-max-width;
    min-width: $application-min-width;
    margin: 0 auto;
    padding: {
      left: $marginS;
      right: $marginS;
      top: $marginM;
      bottom: $marginM;
    }
  }

  a {
    color: white;
    font-weight: bold;
  }

  .indicator-bar.positive {
    background-color: $positive;
   }

   .indicator-bar.primary {
    background-color: $primary;
  }

  .indicator-bar.negative {
    background-color: $negative;
  }
  .indicator-bar.hidden {
    visibility: hidden;
  }

  .indicator-info {
    vertical-align: top;
    display: table-cell;
    margin-right: $marginL;
  }

  .indicator-message {
    vertical-align: top;
    display: table-cell;
    width: 100%;
    padding: {
      left: $marginS;
      right: $marginS;
    }
  }

  .indicator-close {
    vertical-align: top;
    display: table-cell;
  }
}

// Tabs on (authority) admin page block the view
.admin #indicator .indicator-bar, .authority-admin #indicator .indicator-bar {
  z-index: 2003;
  margin-top: -38px;
}
