// General styles for all links without
// any additional styling

@mixin link ($link: $orange-link,
             $hover: $orange-hover,
             $active: $orange-active) {
  color: $link;
  text-decoration: none;
  // Reminder: ordering is link, visited, hover, active.
  &:link, &:visited {
    color: $link;
  }
  &:hover {
    color: $hover;
    text-decoration: underline;
  }
  &:active {
    color: $active;
    text-decoration: underline;
  }
}

a {
  @include link;
}

@mixin link-text( $max-width) {
  max-width: $max-width;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
