modal-dialog {
  .dialog {
    position: fixed;
    width: 980px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
    padding: $marginM;
    background-color: #fff;
    height: 700px;
    min-height: 150px;
    .content {
      overflow: auto;
      position: absolute;
      top: 52px;
      bottom: 70px;
      left: $marginM;
      right: $marginM;
    }
    .footer {
      position: absolute;
      bottom: $marginM;
      right: $marginM;
      left: $marginM;
      .cancel {
        float: right;
        margin-right: $marginM;
      }
    }
    .header {
      padding: 2px 24px;
      border-bottom: 1px solid;
      font-size: 20px;
      .title {
      }
      .close {
        position: absolute;
        right: $marginM;
        cursor: pointer;
        &:after {
          content: "X";
        }
      }
    }
  }
  .mask {
    position: fixed;
    display: block;
    z-index: 9000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:#000;
    opacity: 0.5;
  }
}

/* Z-index of .mask must lower than .window */
.mask {
  position:absolute;
  z-index:9000;
  display:none;
  top: 0;
  left: 0;
  &.black {
    background-color:#000;
  }
  &.white {
    background-color:#fff;
  }
}

.window {
  position:fixed;
  display:none;
  z-index:9999;
  padding: $marginM $marginM $marginM $marginM;
  background: white;
  overflow:hidden;
  &.rounded {
    border-radius: 6px;
  }
}

.autosized {
  min-width:$cols4;
  min-height:$baseline * 6;
  height: auto;
  width: auto;
}

.autosized-yes-no {
  min-height:$baseline * 6;
  height: auto;
  width:$cols6;
}
.autosized-ok {
  min-height:$baseline * 5;
  height: auto;
  width:$cols4;
}
/* Customize your modal window here, you can add background image too */

.dialog-header {
  padding: 2px $marginL;
  border-bottom: 1px solid;
  p {
    margin: 0px;
    font-size: 20px;
    display: inline;
  }
  .dialog-close {
    position: absolute;
    right: 14px;
    top: 12px;
    cursor:pointer;
  }
}

.dialog-content {
  /* somewhat less than .autosized - .dialog-header */
  min-height: $baseline * 4;
  position: relative;
  margin: $marginM  0;
  padding-bottom: 64px;

  .dialog-desc {
    width: 300px;
  }

  .dialog-desc-wide {
    width: 450px;
  }

  [type=submit], .btn, button {
    padding: 4px $marginL;
    min-width: $cols2;
    max-width: $cols3;

  }

  .file-upload {
    margin: $marginM 0;
  }

  .dialog-user-content {
    padding: $marginM 0;
  }
}

.dialog-content {
  p {
    margin-bottom: 0;
  }

  div.finished {
    background: #fff;
    display: block;
    text-align: left;
    z-index: 5000;
  }

  div.pending {
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 5000;
    div.ajax {
      background: url(/img/ajax-loader.gif) no-repeat center center;
      margin: auto;
      height: 160px;
    }
  }
}

.scrolling-content {
  overflow-y: scroll;
  max-height: 288px;
}

.dialog-content-low {
  min-height: $baseline * 3;
  padding-bottom:0;
}

.with-map {
  display: table-row;

  .map-container {
    padding: 0;
  }

  .btn-primary {
    left: auto; right: 260px;
    bottom: 5px;
  }
  a.btn-dialog {
    right:-70px;
    bottom: 10px;
    width: 100px;
  }
}

.with-map > div {
  display: table-cell;
  vertical-align: top;
  padding-left: $marginM;
}

.neighbors-message {
  margin: $marginM;
}

#dialog-add-link-permit {
  .combobox{
    margin-bottom: 8px;
  }
}

#upload-dialog {
  .dialog-content {
    padding-bottom: 0;
  }
}

#dialog-cancel-application {
  div.application-cancel-text-content p {
    margin-bottom: 0;
  }
}
