$matti-grid-margin: 10px;

@mixin order-column ($size, $columns) {
  position: relative;
  float: left;
  @include column-width($size * (100% / $columns));
  min-height: 1px; // Enforce rendering of empty column.
  padding-left: $matti-grid-margin * 3;

  div.radio-wrapper {
    width: 100%;
  }

  label.required:after {
    content: " *";
    color: $label-required-star-color;
  }

  .col--vertical, .col--horizontal {
    box-sizing: border-box;
  }
  .col--vertical {
    label {
      text-align: left;
      display: block;
    }
  }
}

@mixin order-grid ($columns) {
  .order-grid-#{$columns} {
    width: 100%;
    color: $gray51;
    .row {
      @include clearfix;
      padding: $matti-grid-margin 0;
      @for $i from 1 through $columns {
        .col-#{$i} {
          @include order-column($i, $columns);
          &:first-child {
            padding-left: 0;
          }
        }
      }
      .col--full > * {
        width: 100%;
      }
      .col--full > .col--vertical > * {
        width: 100%;
      }
      .col--right > * {
        float: right;
      }
      .col--left > * {
        float: left;
      }
      .col--center {
        text-align: center;
        > * {
          display: inline-block;
        }
      }
      &.row--tight {
        padding-top: $marginS;
        padding-bottom: $marginS;
        margin: 0 0 0 0;
      }
    }
  }
}

@for $i from 1 through 12 {
  @include order-grid( $i );
}

span.order-grid-header {
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  display: inline-block;
}

div.order-summary-contacts-block {
  box-sizing: border-box;
  border: 1px solid $gray187;
  padding: 0px $baseline / 2;
}

span.order-summary-line {
  width: 100%;
  display: inline-block;
}

div.order-section {
  padding-bottom: $matti-grid-margin * 2;

  div.attachments-table-container {
    padding:0;
  }
}

.order-summary-pricing-block {
  background-color: $gray246;
  border-top: 1px solid $gray221;

  table {
    margin-bottom: 0px;

    tr {
      background: none;
      border: none;
    }

    td.first {
      width: 50%;
    }

    td.second {
      width: 35%;
      text-align: right;
    }

    td.third {
      width: 15%;
    }
  }
}