// Various utilities for rudimentary responsiveness support.

// No need to support narrower displays.
$minimum-breakpoint: 768px;
$narrow-breakpoint:  991px;

.narrow-hide {
    @media (max-width: $narrow-breakpoint) {
        display: none;
    }
}


// On Windows Phone the zooming + position: fixed sems
// cause problems when zooming. We circumwent the
// issue by making the the viewport initially bigger.
@-ms-viewport {
  width: 820px;
}
