// Default table
//
// Styleguide 4.1

$tr-color-even: $gray246;

@mixin no-row-hover() {
  tr {
    &:hover {
      background-color: white;
    }
    &:hover:nth-child(even) {
      background: $tr-color-even;
    }
  }
}

table {
  width:100%;
  margin-bottom: $marginL;
  color: $gray51;
}

th {
  background: $gray221;
  padding-left: $marginM;
  padding-right: $marginM;
  vertical-align: middle;
}

tr {
  background: white;
  border: 1px solid $gray221;
  &:nth-child(even) {
    background: $tr-color-even;
  }
  &:hover {
    background-color: $gray238;
    &:active {
      background-color: $gray221;
    }
  }
  &.application-row {
    &:hover {
      background-color: $orange-hover;
      &:active {
        background-color: $orange-active;
      }
    i {
        color: $gray246;
      }
    }
  }
  &.attachment-row {
    cursor: pointer;

    td:last-child {
      text-align: right;
    }
  }
  &.attachment-multiselect-row {
    &.selected {
      background-color: lighten($lp-orange, 20%);
      color: black;
      &:hover {
        background-color: lighten($lp-orange, 15%);
        color: black;
      }
    }

    td.attachment-file-info {
      span.attachment-file-name {
        display: block;
      }
    }
  }
}

th, td {
  padding:$marginS $marginM;
  text-align:left;
  height: $grid-min-height;
  min-height: $grid-min-height;
  &.btn{
    margin-bottom: 0px;
  }
  .icon {
    margin: $marginM $marginM $marginS $marginM;
  }
  &.actions {
    a {
      margin-right: $marginM;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

th.action-column, td.action-column {
  .icon {
    margin: 0;
  }
}

tbody, tfoot {
  td {
    vertical-align:middle;
  }
}


.dataTables_wrapper {
  position: relative;
}
.table-filter {
  float: right;
  position: absolute;
  top: -$marginL*1.5;
  right: 0;
}

table.tasks thead tr:first-child td {
  padding-left: 0
}

.tasks-content {
  margin-top: $marginM;
  margin-bottom: $marginM;
}

table.tasks {
  .task-state {
    width: 22px;
    .icon {
      margin: $marginM $marginS $marginS $marginS;
    }
  }
}

table.attachments-template-table {

  .center {
    text-align: center;
  }

  th {
    padding-left: 6px;
    padding-right: 6px;
  }
  th:first-child {
    padding-left: 16px;
  }
  th:last-child {
    padding-right: 16px;
  }

  td {
    &.attachmentState {
      padding: 0 0 0 12px;
      white-space: nowrap;

      .icon {
        margin: $marginS;
        vertical-align: middle;
      }
    }
    &.attachment-type-group, &.attachment-type-id, &.attachment-help-info, &.attachment-not-needed, &.attachment-file-info, &.attachment-file-changed {
      padding-left: 6px;
      padding-right: 6px;
    }
    &.attachment-group-select {
      a {
        font-size: $font-size-body;
        font-weight: normal;
        float: right;
      }
    }
    &.attachment-type-group, &.attachment-type-id {
      max-width: 150px;
      word-wrap: break-word;
    }
    &.attachment-help-info {
      max-width: 200px;
      word-wrap: break-word;
    }
    &.attachment-file-info, &.attachment-file-changed {
      max-width: 230px;
      word-wrap: break-word;
    }
    &.attachment-version-info {
      max-width: 60px;
      word-wrap: break-word;
    }
  }
}

// Percentage width and px scroll height convenience
// classes.
@for $w from 1 through 21 {
  .width-#{$w * 5} {
    min-width: $w * 5%;
    max-width: $w * 5%;
    width:  $w * 5%;
}
  .scroll-#{$w * 50}px {
    max-height: $w * 50px;
    overflow-y: auto;
  }
}

// Em scroll height convenience classes.
@for $h from 1 through 101 {
  .scroll-#{$h}em {
    max-height: #{$h}em;
    overflow-y: auto;
  }
}

.header-table {
  margin-top: 30px;
  table {
    margin: 0;
  }
}

.header-table > tbody > tr > td {
  padding: 0;
}

.header-table > tfoot > tr:hover {
  background-color: transparent;
}

td.positive {
  background-color: $positive;
  color: white;
}
td.negative {
  background-color: $negative;
  color: white;
}

@mixin note-table($name) {
  .#{$name}-table {
    @extend .table;
    td.#{$name}-table--action {
      text-align: right;
      a {
        padding-right: 2em;
      }
    }
    td.#{$name}-table--icons {
      text-align: center;
      color: $primary;
    }
    tr.#{$name}-table__note {
      padding: {
      left: 2em;
      right: 2em;
    }
      &:active {
        background-color: initial;
      }
      background-color: white;
      td.#{$name}-table--extra {
        white-space: pre-wrap;
      }
      td.#{$name}-table--no-extra {
        color: $gray187;
      }
    }
    div.bubble-dialog {
      border: none;
    }
  }
}

@include note-table ( reviews ) {}

table.review-buildings-table {
  @extend .table;
  th.review-buildings--description {
    min-width: 20em;
  }
  select.dropdown {
    min-width: 10em;
  }
  div.docgen-checkbox-wrapper {
    border: none;
    text-align: center;
  }
  div.docgen-checkbox-wrapper.wrapper--disabled {
    // Initial value does not work with IE9.
    background-color: transparent;
  }
}

@include note-table ( company-users ) {}

table.company-users-table {
  select {
    width: 10em;
  }
  tr:hover, tr:active {
    background-color: transparent;
  }
}

table.table-even-odd {
  @include no-row-hover;
  tr.even-row,
  tr.even-row:hover {
    background-color: $tr-color-even;
  }
  tr.odd-row,
  tr.odd-row:hover {
    background-color: white;
  }
}

div.attachments-table-container {
  padding: {
  top: 1em;
  right: .6em;
  left: .5em;
  }
  table.attachments-table {
        tr.row--rejected {
      border-bottom: none;
      td {
        padding-bottom: 0;

      }
    }
    tr.reject-note-row {
      border-top: none;
      padding: 0;
      > td {
        padding: {
          top: 0;
          left: 4px;
          right: 0;
          bottom: 4px;
        }
        min-height: 0;
        height: auto;
      }
    }
    margin-bottom: 1em;
    .checkbox-wrapper {
      border: none;
      .checkbox-label {
        padding-top: 2px;
        padding-left: 0;
        white-space: nowrap;
      }
    }
    td {
      vertical-align: top;
    }
    .attachments-table--widest {
      width: 80%;
    }
  }
}

.attachment-state-icons {
  white-space: nowrap;
  i {
    margin-left: 1px;
    magint-right: 1px;
  }
}





table.suti-admin-table {
  margin-top: $marginM;
  td:nth-child(even) {
    width: 50%;
    input {
      width: 90%;
    }
  }
}

div.suti-admin-container .serversettings--wide {
  width: 50%;
}

.suti-display {
  margin-bottom: $marginM;
  .rollup-button {
    span {
      text-transform: uppercase;
    }
  }
  .form-grid, .checkbox-wrapper {
    border: none;
  }
  .suti-display--error {
    color: $negative;
  }
}

.view-with-download {
  .download {
    white-space: nowrap;
    a:hover {
      text-decoration: none;
    }
    a:hover > span {
      text-decoration: underline;
    }
  }
}

th.full-width-column {
  width: 100%;
}

@for $i from 1 through 10 {
  th.column--#{$i}0 {width: 10% * $i; }
}


.form-table--waste {
  @include no-row-hover;
  table {
    width: 100%;
  }
  .form-input {
    height: initial;
  }
  th {
    white-space: nowrap;
    @media (max-width: 890px ) {
      white-space: initial;
    }
  }
  td.action-column {
    text-align: center;
    i {
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
  tfoot {
    height: initial;
    font-size: 16px;
    tr {
      border: none;
    }
    .footer-sum--total {
      text-indent: 10px;
      font-weight: bold;
    }
    .footer-sum--result {
      color: $gray119;
      white-space: nowrap;
    }
    .footer-sum--error {
      color: $red-dark;
    }
    .td-left {
      text-indent: 10px;
    }
    .td-center {
      text-align: center;
    }
  }
}

.form-table--waste.waste-report-table {
  th {
    white-space: initial;
  }
}

select.waste-unit-select {
  font-size: 16px;
  width: 5em;
}

.attachment-batch-table {
  @include no-row-hover;
  td {
    white-space: nowrap;
  }
  .td-center {
    text-align: center;
    .checkbox-wrapper {
      border: none;
    }
  }
  input {
    vertical-align: middle;
  }
  .batch-autocomplete {
    display: inherit;
    attachment-type-autocomplete {
      $width: 20em;
      min-width: $width;
      max-width: $width;
      display: inline-block;
      vertical-align: middle;
      .autocomplete-selection-wrapper {
        display: table;
        .autocomplete-selection {
          padding-left: 6px;
          display: table-cell;
          vertical-align: middle;
          min-height: $btn-height;
          height: $btn-height;
        }
      }
      span.caption {
        white-space: normal;
        line-height: normal;
        padding-left: 0;
      }
    }
  }
  .batch-drawing {
    max-width: 4em;
  }
  tfoot {
    > tr {
      border: none;
      > td {
        padding: 0;
        a.link-btn {
          white-space: normal;
          text-align: center;
        }
      }
    }
  }
  .fill-pin {
    position: relative;
    display: inline-block;
    icon-button.fill-down {
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      z-index: 100;
      button {
        max-height: 100%;
        height: 100%;
      }
    }
  }
}
