/*Tab styles*/

$tab-size: 2px;


@mixin tab-style {
  display: inline-block;
  text-decoration: none;
  background: white;
  color: $gray51;
  padding: {
    left: $marginS;
    right: $marginS;
    top: $marginS;
    bottom: $marginS;
  }

  //border-bottom: $tab-size solid $gray187
  //outline: none;
  /* Note: IE filters and border-radius don't mix */
  //filter: none;
}

@mixin active-tab-style {
  border: {
    style: solid;
    width: $tab-size;
    color: $gray187;
    bottom: none;
}
  //margin-bottom: -2 * $tab-size;
  //  margin-bottom: 0;
  &:before {
    content: " ";
    border-bottom: $tab-size solid white;
    position: absolute;
    bottom: -2px;
    left: 0%;
    width: 100%;
  }
}

.tab-wrapper {
  padding: 30px;
}

.tabs-container {
  width: 100%;
  padding-top: $marginM;
  display: block;
  clear: both;
  box-sizing: border-box;
  /* .btn{ */
  /*   float: right; */
  /*   margin-left: $marginL; */
  /* } */
}

.tabs {
  list-style: none;
  margin: 0;
  padding: 5px 0 0 0;
  display: inline;
  li {
    display: inline-block;

    a {
      @include tab-style;
      position: relative;
      .indicator {
        background-color: $lp-orange;
        border-radius: 2px;
        font-weight: bold;
        padding: 2px 6px;
        margin-right: 14px;
      }
      /* &:after { */
      /*   content: " "; */
      /*   display: inline-block; */
      /*   border-right: 2px solid  lighten($lp-dark-grey, 20%); */
      /*    @include skew(30deg); */
      /*   width: 10px; */
      /*   height: 13px; */
      /*   position: absolute; */
      /*   top: 8px; */
      /*   right: 0px; */
      /* } */
      /* &:before { */
      /*   content: " "; */
      /*   display: inline-block; */
      /*   border-right: 2px solid  lighten($lp-dark-grey, 20%); */
      /*   @include skew(-30deg); */
      /*   width: 10px; */
      /*   height: 13px; */
      /*   position: absolute; */
      /*   bottom: 6px; */
      /*   right: 0px; */
      /* } */
    }
    &.active a {
      @include active-tab-style;
    }
    /* &:first-child { */
    /*   a { */
    /*     padding-left: 0; */
    /*   } */
    /* } */
  }
}

.tabs-content-container {
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px;
  width: 400px;
}

.tab-content {
  padding:  0;
  h1 {
    line-height: normal;
    float: left;
  }
}

.radio-tabs {
  display: inline;
  input {
    &[type=radio] {
      display: none;
      width: 0px;
      height: 0px;
      margin: 0px;
      padding: 0px;
      -moz-appearance: none;
      position: absolute;
      z-index: -1;
    }
    &[type="radio"] + label {
      display: inline-block;
      padding: 8px 10px;
      text-decoration: none;
      background: $lp-light-grey;
      color: $color-text;
      outline: none;
      /* Note: IE filters and border-radius don't mix */
      filter: none;
      &:hover {
      cursor: pointer;
      }
    }
    &[type="radio"]:checked + label {
        background: darken($lp-light-grey, 10%);
    }
  }
  [type="radio"] + label.checked {
        background: darken($lp-light-grey, 10%);
   }
  .form-input {
    margin-bottom: 7px;
  }
  button.application-create {
    display: inline;
    margin-bottom: 0;
    width: 330px;
    @media all and (max-width: 1000px) {
      position: absolute;
      left: 8px;
      top: 54px;
    }
  }
  button.application-from-previous {
    @extend button.application-create;
    margin: 0 5px;
  }
}

.missing-info-title {
  margin-bottom: $marginS;
  margin-top: $marginL;
}
