/* colors*/

$lp-green: rgb(4,199,20);
$lp-orange: rgb(243,145,41);
$lp-dark-grey: rgb(79,79,79);
$lp-light-grey: rgb(246,246,246);
$color-text: #333;
$color-dark-bg: rgb(136,138,140);
$grey-text: rgb(89,89,89);
$error-text: red;
$lp-light-green: rgb(185,254,190);
$lp-purple: rgb(218,109,237);
$lp-purple-light: lighten($lp-purple, 20%);

$lupapisteBlue: #01BEF5;
$borderColor: #01BEF5;
$lupapisteLightblue: #C1E8F7;

@mixin blue-background {
  background: #30B2E5; /* Old browsers */
  @include background( linear-gradient(top,  #49c0f0 0%, #2cafe3 100%));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); /* IE6-9 */
}

@mixin red-background {
  background: #febbbb; /* Old browsers */
  @include background( linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
}

// Colors as specified in the visual guide

$orange-darkest:  rgb(239, 118, 38);
$orange-dark:     rgb(243, 145, 41);
$orange:          rgb(247, 172, 46);
$orange-light:    rgb(251, 199, 50);
$orange-lightest: rgb(255, 226, 54);
$orange-link:     $orange-dark;
$orange-hover:    $orange;
$orange-active:   $orange-light;

$blue-darkest:  rgb(15, 148, 247);
$blue-dark:     rgb(15, 168, 247);
$blue:          rgb(15, 187, 247);
$blue-light:    rgb(15, 207, 247);
$blue-lightest: rgb(15, 226, 147);
$blue-link:     $blue-dark;
$blue-hover:    $blue;
$blue-active:   $blue-light;

$purple-darkest:  rgb(207, 91, 232);
$purple-dark:     rgb(218, 109, 237);
$purple:          rgb(228, 128, 242);
$purple-light:    rgb(239, 146, 247);
$purple-lightest: rgb(250, 164, 252);
$purple-link:     $purple-dark;
$purple-hover:    $purple;
$purple-active:   $purple-light;

$green-darkest:  rgb(17, 162, 42);
$green-dark:     rgb(44, 169, 44);
$green:          rgb(70, 176, 45);
$green-light:    rgb(97, 183, 47);
$green-lightest: rgb(123, 190, 48);
$green-link:     $green-dark;
$green-hover:    $green;
$green-active:   $green-light;

$red-darkest:  rgb(219, 33, 17);
$red-dark:     rgb(223, 50, 21);
$red:          rgb(227, 67, 25);
$red-light:    rgb(231, 84, 29);
$red-lightest: rgb(235, 101, 33);
$red-link:     $red-dark;
$red-hover:    $red;
$red-active:   $red-light;

// Turquoise
$turqo-darkest:  rgb(2, 178, 165);
$turqo-dark:     rgb(4, 195, 175);
$turqo:          rgb(5, 211, 185);
$turqo-light:    rgb(7, 227, 194);
$turqo-lightest: rgb(8, 244, 204);
$turqo-link:     $turqo-dark;
$turqo-hover:    $turqo;
$turqo-active:   $turqo-light;

// Grays from the darkest to the lightest (white);
@function make-gray( $n ) {
    @return rgb( $n, $n, $n );
}

$gray17:  make-gray( 17 );
$gray51:  make-gray( 51 );
$gray85:  make-gray( 85 );
$gray119: make-gray( 119 );
$gray153: make-gray( 153 );
$gray187: make-gray( 187 );
$gray221: make-gray( 221 );
$gray238: make-gray( 238 );
$gray246: make-gray( 246 );
$gray255: make-gray( 255 );

$grid-min-height: 40px;

$grid-border-color: $gray221;
$grid-input-height: $grid-min-height;
$grid-textarea-height: $grid-min-height * 4;
$grid-margin: 20px;
$grid-margin-large: 40px;
$grid-font-size: 16px;

$checkbox-color:          $gray187;
$checkbox-selected-color: $orange-dark;
$checkbox-border-color:   $gray221;
$checkbox-hover-color:    $orange-light;

$radio-color:          $checkbox-color;
$radio-selected-color: $checkbox-selected-color;
$radio-border-color:   $checkbox-border-color;
$radio-hover-color:    $checkbox-hover-color;

$input-color:       $gray51;
$input-focus-color: $gray51;

$input-border-color: $gray187;
$input-disabled-border-color: $gray221;
$input-disabled-background-color: $gray246;
$input-focus-border-color: $orange-light;
$input-required-border-color: $orange-dark;
$input-select-disabled-icon: $gray187;

$label-required-star-color: $red-dark;

$gray-link:   $gray85;
$gray-hover:  $gray119;
$gray-active: $gray153;

$light-gray-link:   $gray119;
$light-gray-hover:  $gray153;
$light-gray-active: $gray187;



// Somewhat semantic colors.
// These are used in "normal" circumstances.

$primary:   $orange-dark;
$positive:  $green-dark;
$negative:  $red-dark;
