/* feature class for marking unfinished content */

.feature {
  border: orange dotted medium;
  padding: 6px;
  border-radius: 10px;
  .legend {
    display: inline-block;
    position: relative;
    top: -20px;
    right: -10px;
    background-color: orange;
    color: black;
    padding: 3px;
    border-radius: 5px;
  }
}

.feature.feature--no-border {
  border: none;
  padding: 0 0 0 0;
}
