$tree-width: 800px;
$tree-height: 320px;

.operation-tree {
  display: inline-block;
  margin-left: $marginL;
  width: $tree-width;
  overflow: hidden;
  .tree-title {
    color: white;
    background: $lp-dark-grey;
    padding: 5px 0px 3px 10px;
  }
  .tree-breadcrumbs {

  }
  .tree-content {
    width: 80000px;
  }
  .tree-link {
    margin: 0;
    width: $tree-width;
    float: left;
    width: $tree-width;
    @include disable-select;
    transition-property: font-size;
    transition-duration: 200ms;
    span {
      width: 100%;
    }
  }
  .tree-link.btn {
    overflow-y: hidden;
    max-height: none;
    min-height: none;
    line-height: initial;
    vertical-align: middle;
    span, i {
      vertical-align: middle;
      white-space: initial;
    }
    padding: {
      top: $marginM;
      bottom: $marginM;
    }
  }
  .tree-nav {
    .tree-back, .tree-start {
      min-width: $cols1 * 1.5;
      margin: $marginL 0 $marginL $marginL;
      height: 30px;
      button {
        display: inline-block;
        position: relative;
      }
    }
  }
  .tree-page {
    position: relative;
    float: left;
  }
  .tree-last {
    width: 90%;
    padding: $baseline $marginL;
    width: $tree-width;
    float: left;
    text-align: left;
    ul li {
      list-style-type: circle;
      a {
        @include link;
      }
    }
    div {
      width: 90%;
      margin-top: $marginS;
    }
    button {
      margin-top: $baseline;
      position: relative;
      margin-right: $baseline;
    }
    .operation-description {
      margin-top: $marginL;
      margin-bottom: $marginL;
      p {
        margin: $marginM 0;
      }
    }
    .organization-links li {
      list-style-type: none;
    }
  }
}

.tree-width  {
  width: $tree-width;
  height: $baseline * 5;
}
 
ul.attachments-list {
  list-style-type: circle;
  li.mandatory-attachments {
    list-style-type:circle;
  }
}

/* No list-style for links in organization-links in .tree-last */
.organization-links {
  li {
    list-style-type: none;
  }
}

/* No list-style for links in loctext in .tree-last */
ul.no-bullets {
  list-style-type: none;
}
