.user-notification {
  color: white;
  min-height: 50px;
  background-color: $lp-dark-grey;
  position: relative;
  background:  fade-out($lp-dark-grey, 0.1);
  background: $lp-dark-grey \9; /* IE 8 and below */
  border: 1px solid darken($lp-dark-grey, 10%);
  box-sizing: border-box;

  .header {
    padding: 2px 24px;

    .title {
      font-size: 20px;
    }

    .close {
      position: absolute;
      right: $marginM;
      top: $marginM;
      font-size: 1.8em;
      cursor: pointer;
      &:after {
        content: "X";
      }
    }
  }
  p.message {
    padding: 2px 24px;
    color: white;
    margin-bottom: $marginM;
  }
  a {
    color: white;
  }
}
