@font-face {
  font-family: 'lupapiste';
  src: url("/fonts/lupapiste.eot?yue879");
  src: url("/fonts/lupapiste.eot?yue879#iefix") format("embedded-opentype"), url("/fonts/lupapiste.ttf?yue879") format("truetype"), url("/fonts/lupapiste.woff?yue879") format("woff"), url("/fonts/lupapiste.svg?yue879#lupapiste") format("svg");
  font-weight: normal;
  font-style: normal;
}
