{:organization {:authority #{:document/approve
                             :document/edit
                             :document/edit-identifiers}}
 :document     {:writer  #{:document/edit
                           :document/edit-draft}
                :foreman #{:document/edit
                           :document/edit-draft}}}
