{:organization {:authority          #{:document/approve}
                :approver           #{:document/approve}}
 :document     {:authority          #{:document/edit}
                :writer             #{:document/edit}}}
