{:organization {:authority          #{:document/approve
                                      :document/edit}}
 :document     {:writer             #{:document/edit
                                      :document/edit-draft}
                :foreman            #{:document/edit
                                      :document/edit-draft}}}
