{:global       {:admin #{:users/admin-query
                         :users/update-own-data
                         :users/create
                         :users/create-financial-handler}
                :authority #{:users/update-own-data}
                :financialAuthority #{:users/update-own-data}}
 :organization {:authorityAdmin #{:users/admin-query
                                  ; :users/update-own-data maybe not needed, if :authorityAdmin is 'authority' by main role?
                                  :users/create
                                  :users/create-financial-handler}}}
