{"010" :facta
 "018" :facta
 "019" :facta
 "075" :facta
 "091" :facta
 "092" :facta
 "106" :facta
 "108" :facta
 "139" :facta
 "145" :facta
 "153" :facta
 "186" :facta
 "208" :facta
 "211" :facta
 "224" :facta
 "244" :facta
 "245" :facta
 "249" :facta
 "257" :facta
 "275" :facta
 "276" :facta
 "285" :facta
 "287" :facta
 "297" :facta
 "301" :facta
 "305" :facta
 "322" :facta
 "418" :facta
 "422" :facta
 "425" :facta
 "430" :facta
 "444" :facta
 "480" :facta
 "491" :facta
 "494" :facta
 "504" :facta
 "505" :facta
 "508" :facta
 "529" :facta
 "536" :facta
 "541" :facta
 "563" :facta
 "580" :facta
 "588" :facta
 "611" :facta
 "616" :facta
 "623" :facta
 "625" :facta
 "636" :facta
 "678" :facta
 "680" :facta
 "700" :facta
 "702" :facta
 "704" :facta
 "748" :facta
 "837" :facta
 "846" :facta
 "858" :facta
 "859" :facta
 "893" :facta
 "936" :facta
 "977" :facta
 "980" :facta

 "005" :kuntanet
 "009" :kuntanet
 "016" :kuntanet
 "020" :kuntanet
 "046" :kuntanet
 "047" :kuntanet
 "051" :kuntanet
 "052" :kuntanet
 "069" :kuntanet
 "071" :kuntanet
 "072" :kuntanet
 "074" :kuntanet
 "079" :kuntanet
 "081" :kuntanet
 "082" :kuntanet
 "086" :kuntanet
 "090" :kuntanet
 "102" :kuntanet
 "142" :kuntanet
 "143" :kuntanet
 "148" :kuntanet
 "152" :kuntanet
 "171" :kuntanet
 "176" :kuntanet
 "181" :kuntanet
 "182" :kuntanet
 "204" :kuntanet
 "217" :kuntanet
 "230" :kuntanet
 "233" :kuntanet
 "235" :kuntanet
 "239" :kuntanet
 "241" :kuntanet
 "250" :kuntanet
 "261" :kuntanet
 "271" :kuntanet
 "273" :kuntanet
 "288" :kuntanet
 "290" :kuntanet
 "291" :kuntanet
 "300" :kuntanet
 "304" :kuntanet
 "317" :kuntanet
 "408" :kuntanet
 "410" :kuntanet
 "416" :kuntanet
 "426" :kuntanet
 "433" :kuntanet
 "435" :kuntanet
 "440" :kuntanet
 "441" :kuntanet
 "475" :kuntanet
 "481" :kuntanet
 "483" :kuntanet
 "484" :kuntanet
 "499" :kuntanet
 "503" :kuntanet
 "507" :kuntanet
 "538" :kuntanet
 "562" :kuntanet
 "576" :kuntanet
 "578" :kuntanet
 ;;"580" :kuntanet
 "581" :kuntanet
 "583" :kuntanet
 "584" :kuntanet
 "604" :kuntanet
 "608" :kuntanet
 "614" :kuntanet
 "615" :kuntanet
 "619" :kuntanet
 "620" :kuntanet
 "626" :kuntanet
 "630" :kuntanet
 "631" :kuntanet
 "635" :kuntanet
 "687" :kuntanet
 "689" :kuntanet
 "691" :kuntanet
 "697" :kuntanet
 "707" :kuntanet
 "739" :kuntanet
 "742" :kuntanet
 "746" :kuntanet
 "747" :kuntanet
 "749" :kuntanet
 "753" :kuntanet
 "758" :kuntanet
 "759" :kuntanet
 "765" :kuntanet
 "768" :kuntanet
 "781" :kuntanet
 "785" :kuntanet
 "790" :kuntanet
 "832" :kuntanet
 "833" :kuntanet
 "844" :kuntanet
 "845" :kuntanet
 "848" :kuntanet
 "850" :kuntanet
 "854" :kuntanet
 "886" :kuntanet
 "887" :kuntanet
 "890" :kuntanet
 "908" :kuntanet
 "911" :kuntanet
 "918" :kuntanet
 "921" :kuntanet
 "934" :kuntanet
 "946" :kuntanet
 "989" :kuntanet

 "049" :locus
 "061" :locus
 "098" :locus
 "103" :locus
 "109" :locus
 "165" :locus
 "167" :locus
 "169" :locus
 "202" :locus
 "205" :locus
 "286" :locus
 "309" :locus
 "445" :locus
 "500" :locus
 "543" :locus
 "564" :locus
 "593" :locus
 "609" :locus
 "734" :locus
 "743" :locus
 "831" :locus
 "834" :locus
 "853" :locus
 "895" :locus
 "915" :locus
 "927" :locus

 "078" :louhi
 "097" :louhi
 "140" :louhi
 "149" :louhi
 "172" :louhi
 "213" :louhi
 "216" :louhi
 "226" :louhi
 "256" :louhi
 "263" :louhi
 "265" :louhi
 "284" :louhi
 "312" :louhi
 "320" :louhi
 "402" :louhi
 "423" :louhi
 "489" :louhi
 "495" :louhi
 "498" :louhi
 "535" :louhi
 "577" :louhi
 "592" :louhi
 "601" :louhi
 "624" :louhi
 "638" :louhi
 "710" :louhi
 "729" :louhi
 "732" :louhi
 "751" :louhi
 "755" :louhi
 "762" :louhi
 "892" :louhi
 "925" :louhi
 "931" :louhi
 "935" :louhi}
