#user-municipality, #user-edit-municipality {
  height: auto;
  width: 95%;
}

#DataTables_Table_0_info {
  bottom: 40px;

}

#DataTables_Table_0_wrapper {
  margin-bottom: $marginS;
}

.permanent-archive-setting {
  position: relative;
  margin: $marginM 0;
  input {
    vertical-align: middle;
  }
  .form-indicator {
    top: -5px;
    right:auto;
    left: 250px;
  }
}

#notifications {
  p {
    margin-bottom: 0;
  }

  label {
    display: block;
  }

  input[type=checkbox] + label {
    display: inline-block;
  }

  input[type=text] {
    width: 480px;
    box-sizing: border-box;
  }
  textarea {
    width: 480px;
    box-sizing: border-box;
  }
}

.admin {
  .page {
    margin-top: 130px;
  }
  .users-table {
    .filters {
      margin-bottom: $marginM;
    }
  }
  #modal-dialog-content-component {
    select, input[type=text] {
      display: block;
      margin: $marginS 0;
    }
    input[type=text] {
      width: $cols4;
    }
  }
}

form.organizations-search {
  input.textinput {
    display: inline-block;
    width: 20em;
    vertical-align: middle;
  }
}
