/* application section styles*/

// Map dimensions are hard-coded in application.html?
$map-width:  320px;
$map-height: 200px;
$side-panel-width: 60px;

// Convenience grays. Please, do not use
// outside this file.
$app-gray-bg:    $gray238;
$app-gray-light: $gray246;
$app-gray-dark:  $gray221;
$app-gray-darkest: $gray187;

@mixin preamble-common {
    position: relative;
    min-height: 280px; // at least the size of the map container
    padding: {
      left: $map-width;
      right: 24%;
    }
    margin-right: $side-panel-width + 1px;
    .application-map-container, .application_actions {
      position: absolute;
      top: 0;
      bottom: 0;
    }
    .application-map-container {
      left: 0;
      width: $map-width;
      // To prevent accidental map clicks for some
      // browsers/resolutions.
      margin-bottom: $marginM;
    }
    .application_actions {
      // Note: no width, because want the stacked buttons
      // determine their size autonomously.
      right: 0;
    }
}

@mixin preamble-breakpoint( $breakpoint: $narrow-breakpoint ) {
   @media (max-width: $breakpoint) {
      padding: 0;
      .application-map-container, .application_actions {
        position: relative;
        width: auto;
        float: left;
      }
      .application-map-container {
        float: left;
        margin: {
          left: $marginL; // Align with summary info.
        }
      }
      .application_actions {
        float: right;
        margin-right: $marginL; // Align with summary info.
      }
      @content;
    }
}

/*Summary styles*/
.application_summary {
  background-color: $app-gray-bg;
  border-bottom: 2px solid $app-gray-darkest;
  min-height: 320px + $marginM;
  padding: $marginS 0 0 0;
  position:  relative;
  //z-index: 5;
  display: block;
  float: none;
  .container {
    margin-bottom: 0;
  }
  // Since flexbox is not supported widely enough,
  // we make the div ordering with absolute positioning.
  // Preamble is not used in neighbors' view (no actions).
  .preamble {
    @include preamble-common;
    @include preamble-breakpoint;
  }
  li {
   display: inline;
  }
  h1 {
    margin: 0;
    color: #fff;
    line-height: 24px;
    margin-bottom: $marginS;
  }
  .application-map-container {
    position: relative;
    .map{
      float: left;
      margin: $marginM;
    }
    .application-map-actions {
      margin-top: $marginS;
      display:block;
      .map-search-button {
        color: white;
        padding: 0 $marginL;
      }
    }
  }

  .application_summary_info {
    margin: 0 $marginL $marginL $marginL;
    color: $gray51;
    h1 {
      width: 100%;
      color: $gray51;
      a {
        padding-left: 32px;
        background-position: 8px -4200px;
      }
    }
    h2 {
      color: $gray51;
    }
    a {
      font-size: $font-size-body;
      text-transform: none;
      height: auto;
      width: auto;
    }
    .summary-help {
      width: 100%;
      background-color: $app-gray-bg;
      font-size: 0.8em;
      font-style: italic;
    }
    .help-text p, .summary-help p {
      width: 100%;
    }

    .link-permit {
      display: block;
    }

    .link-permit-item {
      @include link;
    }
    .modification-permit:before {
      content: " - ";
    }
    p, .application_summary_text, ul {
      vertical-align: top;
      display: inline-block;
      //width: 30%;
      display: table-cell;
      margin-bottom: 0;
      padding: {
        top: 6px;
        bottom: 6px;
        left: 6px;
      }
    }
    select {
      vertical-align: top;
    }
    ul {
      li {
        display: block;
        span {
          width: auto;
          display: inline;
        }
      }
    }
    .state-indication {
      background-color: $app-gray-light;
      margin: 0 0 0 0;
      overflow: hidden;
      white-space: nowrap;
      height: 32px;
      @mixin past-state{
        // The passed states are hidden in order to
        // make sure that the future steps are all visible.
        display: none;
      }
      @mixin active-state {
        color: white;
        background-color: $green-dark;
        display: inline-block;
        &:after {
            border-left: 11px solid $green-dark;
          }
      }

      div {
        height: 24px;
        span {
          color: darken($lp-light-grey, 40%);
          position: relative;
          padding: 4px 8px 4px 24px;
          display: inline-block;
          margin: 0px -4px 0 0;
          border: none;
          &:first-child {
            padding: 4px 8px 4px 8px;
          }
          &:after {
            display: inline-block;
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
            top: -1px;
            right: -10px;
            border-top: 17px solid transparent;
            border-left: 11px solid $app-gray-light;
            border-bottom: 17px solid transparent;
            z-index: 1;
          }
        }

        .constructionStarted-box, .inUse-box, .closed-box, .complementNeeded-box, .verdictGiven-box, .foremanVerdictGiven-box, acknowledged-box, .canceled-box, .final-box, .extinct-box, .onHold-box, .appealed-box  {
          display: none;
        }
        &.draft {
          .draft-box {
            @include active-state;
          }
        }
        &.open {
          .draft-box {
            @include past-state;
          }
          .open-box {
            @include active-state;
          }
        }
        &.submitted {
          .submitted-box {
            @include active-state;
          }
          .draft-box, .open-box {
            @include past-state;
          }
        }
        &.sent {
          .sent-box {
            @include active-state;
          }
          .draft-box, .open-box, .submitted-box {
            @include past-state;
          }
          .verdictGiven-box, .foremanVerdictGiven-box, .acknowledged-box  {
            display: inline-block;
          }
        }
        &.complementNeeded {
          .complementNeeded-box {
            @include active-state;
          }
          .draft-box, .open-box, .submitted-box {
            @include past-state;
          }
        }
        &.verdictGiven {
          .verdictGiven-box {
            @include active-state;
          }
          .draft-box, .open-box, .submitted-box, .sent-box   {
            display: none;
          }
          .verdictGiven-box, .constructionStarted-box, .inUse-box, .closed-box, .final-box {
            display: inline-block;
          }
        }
        &.foremanVerdictGiven {
          .foremanVerdictGiven-box {
            @include active-state;
          }
          .draft-box, .open-box, .submitted-box, .sent-box {
            display: none;
          }
          .foremanVerdictGiven-box  {
            display: inline-block;
          }
        }
        &.constructionStarted {
          .constructionStarted-box {
            @include active-state;
          }
          .verdictGiven-box, .draft-box, .open-box, .submitted-box, .sent-box   {
            display: none;
          }
          .constructionStarted-box, .inUse-box, .closed-box  {
            display: inline-block;
          }
        }
        &.inUse {
          .inUse-box {
            @include active-state;
          }
          .verdictGiven-box, .constructionStarted-box {
            display: none;
          }
          .draft-box, .open-box, .submitted-box, .sent-box   {
            display: none;
          }
          .inUse-box, .closed-box  {
            display: inline-block;
          }
        }
        &.closed {
          .closed-box {
            @include active-state;
          }
          .verdictGiven-box, .constructionStarted-box, .inUse-box {
            display: none;
          }
          .draft-box, .open-box, .submitted-box, .sent-box   {
            display: none;
          }
          .closed-box  {
            display: inline-block;
          }
        }
        &.onHold {
          .onHold-box {
            @include active-state;
          }
          .verdictGiven-box {
            display: none;
          }
          .draft-box, .open-box, .submitted-box, .sent-box   {
            display: none;
          }
          .onHold-box  {
            display: inline-block;
          }
        }
        &.appealed {
          .appealed-box {
            @include active-state;
          }
          .verdictGiven-box {
            display: none;
          }
          .draft-box, .open-box, .submitted-box, .sent-box   {
            display: none;
          }
          .verdictGiven-box, .appealed-box  {
            display: inline-block;
          }
        }
        &.extinct {
          .extinct-box {
            @include active-state;
          }
          .verdictGiven-box {
            display: none;
          }
          .draft-box, .open-box, .submitted-box, .sent-box   {
            display: none;
          }
          .extinct-box  {
            display: inline-block;
          }
        }
        &.acknowledged {
          .acknowledged-box {
            @include active-state;
          }
          .draft-box, .open-box, .submitted-box, .sent-box   {
            @include past-state;
          }
        }
        &.canceled {
          .canceled-box {
            @include active-state;
          }
          .draft-box, .open-box, .submitted-box, .sent-box   {
            display: none;
          }
        }
        &.proclaimed {
          .proclaimed-box {
            @include active-state;
          }
          .verdictGiven-box {
            display: inline-block;
          }
        }
        &.final {
          .final-box {
            @include active-state;
          }
        }
      }
    }
  }

  .application_actions {
    position: absolute;
    right: 0;
    top: $marginM;
    .muncipality-info {
      background: darken($lp-light-grey, 15%);
      width: 100%;
      padding: $marginL $marginM;
      margin-top: -$marginL *1.75;
      margin-bottom: $marginS;
      box-sizing: border-box;
      .h2 {
        text-transform: uppercase;
        font-size: 1em;
        @include engraved;
      }
      p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 1.8em;
        font-weight: 700;
        @include engraved;
      }
      a {
       text-decoration: none;
       color: rgb(242,242,242);
      }
    }
  }
}

.application-summary-table {
  margin-top: $marginS;
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.application-summary-table > div {
  border-bottom: 1px solid $app-gray-dark;
  display: table-row;
}

.application-summary-table > div > span {
  width: 100%;
}

.application-summary-table > div > p {
  padding-right: 2em;
  @media (max-width: $narrow-breakpoint) {
    white-space: nowrap;
  }

}

.application_summary_info > div.state-indication,
.application_summary_info > div.summary-help {
  border-bottom: none;
}

@mixin icon-colorizer( $id ) {
  ##{$id} {
  i.lupicon-circle-check,
  i.lupicon-circle-pen,
  i.lupicon-circle-arrow-up,
  i.lupicon-circle-stamp,
  i.lupicon-circle-section-sign {
    color: $positive;
  }
  i.lupicon-circle-star,
  i.lupicon-lock {
    color: $primary;
  }
  i.lupicon-circle-attention {
    color: $negative
  }
}
}

@include icon-colorizer( application-tasks-tab );

#application-tasks-tab {
  .stacked.legends {
    margin-bottom: $marginM;
    margin-left: $marginM;
  }
  table {
    margin-top: $marginM;
    margin-bottom: $marginM;
  }
}

#construction-time-documents {
  margin-top: $marginL;
}

.ajax-loading-mask {
  display: none;
  position: absolute;
  z-index: 10000;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  .content {
    display: table;
    margin: 0 auto;
    img {
      display: table;
      margin: 0 auto;
    }
    div {
      margin-top: 25px;
    }
  }
}

.process-nav {
  margin-top: $baseline;
  .process-next {
    float: right;
  }
}

#create .tree-last {
  font-size: 15px;
  li {
    font-size: 15px;
  }
  .attachments-list {
    padding-left: 25px;
  }
}

#invite-statement-givers-section {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid lighten($lp-dark-grey, 40%);

  #choose-statement-givers-title {
    font-weight: bold;
  }
  #invite-statement-giver-saateText {
    resize: none;
    width: 99%;
  }
  button {
      margin-top: $marginL;
  }
}

.statement-over-due {
  color: red;
}

#neighbors {
  .map {
    width: 100%;
    height: 700px;
  }
}

.application-neighbors {
  padding-top: 20px;
  td {
    vertical-align: top;
    a.command {
      display: block;
    }
    .owner-name {
      font-weight: bold;
    }
    .owner-street {
      display: block;
      padding-left: 8px;
    }
    .owner-zip {
      padding-left: 8px;
    }
    .owner-email {
      display: block;
      font-style: italic;
    }
    .status-state {
      font-weight: bold;
    }
    .status-time {
      display: block;
      font-style: italic;
    }
  }
}

.neighbors {
  .command {
   margin-right: $marginS;
  }
}

#dialog-verdict-attachment-prints-order, #dialog-verdict-attachment-prints-order-history {
  .dialog-content {
    padding-left: 15px;
  }
  .order-amount {
    width: 18px;
  }
  .btn-prints-dialog-ok {
    margin-left: 15px;
  }

  .context-error {
    max-width: 820px;
    word-wrap: break-word;
  }

  // With these, making table's attachment list scrollable

  $table_body_height: 200px;
  $table_width: 820px;
  $column_one_width: 200px;
  $column_two_width: 200px;
  $column_three_width: 300px;
  $column_four_width: 120px;

  .fixed-headers {
    width: $table_width;
    table-layout: fixed;
    margin-right: 20px;

    .center {
      text-align: center;
    }

    td {
      word-wrap: break-word;
    }

    td:nth-child(1), th:nth-child(1) {
      width: $column_one_width;
      max-width: $column_one_width;
    }
    td:nth-child(2), th:nth-child(2) {
      width: $column_two_width;
      max-width: $column_two_width;
    }
    td:nth-child(3), th:nth-child(3) {
      width: $column_three_width;
      max-width: $column_three_width;
    }
    td:nth-child(4), th:nth-child(4) {
      width: $column_four_width;
      max-width: $column_four_width;
    }

    thead {
      tr {
        display: block;
        position: relative;
      }
    }
    tbody {
      display: block;
      overflow: auto;
      width: 100%;
      max-height: $table_body_height;
    }
  }

  .old_ie_wrapper {
    max-height: $table_body_height;
    width: $table_width;
    overflow-x: hidden;
    overflow-y: auto;
    tbody { height: auto; }
  }
}

#dialog-verdict-attachment-prints-order-history {
  .history-dialog-description {
    margin-bottom: $marginM;
  }

  .history-items {
    margin-top: $marginS;
    overflow-y: auto;
    max-height: 500px;

    .history-item {
      margin: $marginS 0;
    }
  }
}

.key-value-pair {
  label {
    vertical-align: top;
    display: inline-block;
    width: 25%;
  }
  .value {
    vertical-align: top;
    display: inline-block;
  }
}

.inforequest-conversation {
  margin-top: 42px;
}

.attachments-actions {
  margin-bottom: $marginL;
  h3 {
    margin-top: 12px;
    font-weight: bold;
  }
}

.parties-list {
  width: 100%;
  margin-bottom: $marginS;
  .party {
    display: table-row;
    .person {
      display: table-cell;
      padding-right: $marginM;
    }
    .invite-state {
      display: table-cell;
      padding-right: $marginM;
    }
  }

}

#inforequest-marker-map {
  width: 30%;
  height: 520px;
  float: right;
  z-index: 2;
  image {
    cursor: pointer;
  }
}

#inforequest-marker-map-contents {
  z-index: 2;
  right: 30%;
  width: 30%;
  max-height: 550px;
  position: absolute;
  right: 32%;
  top: 0px;
  white-space: pre-line;
  display: none;
  overflow-y: auto;
  background-color: white;
  border: 1px solid lighten($lp-dark-grey, 40%);
  box-shadow: 1px 1px 2px lighten($lp-dark-grey, 20%);

  .inforequest-card {
    padding: $marginM;
    z-index: 10000;
    border-top: 1px solid lighten($lp-dark-grey, 40%);
    width: 100%;

    h3 {
      font-size: 20px;
      &.operation-type {
        margin-bottom: 12px;
      }
    }

    .timestamp{
      float: right;
      font-size: 14px;
    }
    a {
        color: $color-text;
      }
    &:first-child {
      border-top: none;
    }

    div {
      padding-bottom: 4px;
      margin-bottom: 8px;
      border-bottom: 1px solid lighten($lp-dark-grey, 60%);
      &:last-child{
        border-bottom: none;
        padding-bottom: 0px;
      }
      blockquote {
        font-size: 16px;
      }
      .comment-type {
        font-weight: 700;
      }

    }
  }

}

.verdict-text {
  white-space: pre-line;
  width: $cols5;
}

.required-field-error-doc {
  margin: $marginL 0 $marginS;
}

.info-line {
  display: table-row;
  span, a {
    display: table-cell;
  }
  a {
    padding-left: $marginM;
  }
  .required-field-error-element-name {
    padding-left: $marginS;
  }
  .lupicon-circle-attention {
    color: $red;
  }
  &.warning {
    .lupicon-circle-attention {
      color: $orange-dark;
    }
  }
}

.invited-foremans {
  margin-bottom: $marginL;
  .foreman {
    display: table-row;
    span {
      display: table-cell;
      padding-right: $marginS;
    }
  }
  .foreman-name {
  }
  .foreman-state {
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }
}

.tasks-foreman {
  position: relative;

  .form-input {
    display: inline-block;
    margin: 0 6px 0 0;
  }

  .form-input.combobox, select {
    &.long {
     width: $cols7;
    }
  }

  thead tr:first-child td {
    padding-left: 0
  }

  .foreman-state {
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }
  .add-foreman {
    &:before {
      content: "[";
    }
    &:after {
      content: "]";
    }
  }
}

.operation-info {
  width: 55%;
  display: inline-block;
  vertical-align: top;
}
.organizationLinks {
  vertical-align: top;
  width: 39%;
  padding-left: $marginL*2;
  display: inline-block;
  .organization-links {
    margin-bottom: 12px;
    a {
      @include link;
    }
  }
}

#application-archival-tab {
  h1 {
    float: none;
  }
  .table-metadata {
      max-width: 875px;
    .metadata-key {
      width: 175px;
    }
  }
}

#application-requiredFieldSummary-tab {
  .auth-actions button {
    display: block;
  }
}

h2 > i.is-right {
  float: right;
}

div.review-tasks {
  margin-top: 20px;
}
