/* attachments */

$attachment-modal-width: 600px;

#attachment.container {
  padding-right: 0;
}

.attachment-iframe{
  height: 570px;
  width: $attachment-modal-width;
  border:0;
  overflow: hidden;
}
/*style="*/

$previewHeight: 500px;

.file-preview {
  width: 100%;
  position: relative;
}

.file-preview-image img {
  width: 100%;
  height: auto;
}

.file-preview-actions {
  position: absolute;
  bottom: $marginS;
  right: $marginS;
  .btn{
    margin: 0;
  }
}

.file-preview-content {
  img, iframe {
    border: 1px solid darken($lp-light-grey, 15%);
  }
}

.file-preview-links {
}

.file-preview-pdf {
  iframe {
    width: 100%;
    height: $previewHeight;
  }
}

.attachment-file-versions {
  margin-bottom: $marginM;
  table {
    margin: 0;
  }

  .attachment-file-versions-content {
    padding: $marginS 0;
    th {
      padding: $marginS;
    }
    tr > td {
      padding: $marginS;
      max-width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    tr.version-row--noted {
      border-bottom: none;
      > td {
        padding-bottom: 0;
        min-height: 0;
        height: initial;
      }
    }
    tr.version-reject-note-row {
      border-top: none;
      padding: 0;
      > td {
        padding: {
          top: 0;
          left: 6px;
          right: 0;
          bottom: 4px;
        }
        min-height: 0;
        height: auto;
      }
    }
  }
}

.attachment-file-conversation {
  width: 48%;
}

.attachment-info {
  width: 100%;

  .container {
    padding: 0;
    margin-top: 0;
  }

  .col1 {
    display: inline-block;
    padding-right: $marginM;
    width: 49%;
    vertical-align: top;

  }

  .col2 {
    display: inline-block;
    padding-left: $marginM;
    width: 49%;
    vertical-align: top;
    float: right;
  }
  @media (max-width: $narrow-breakpoint) {
    .col1, .col2 {
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-top: $marginS;
    }
  }

  .attachment-actions {
    width: $cols3;
    float: right;
    margin-top: -60px;
    vertical-align: top;
  }
}

.attachment-info-wrapper {
  margin-top: $marginL;
  width: 80%;
  .tab-info {
    width: 80%;
  }
}

.attachment-info-header {
  width: 100%;
  display: block;
  vertical-align: baseline;
  h1 {
    line-height: normal;
    max-width: 80%;
    display: inline-block;
  }
  a {
    margin-left: $marginL * 2;
  }
}

.add-new-version {
}

td.comment-text {
  vertical-align: top;
  text-align: left;
}

.new-attachment-version-details {
  display: block;
  font-style: italic;
}

.attachment-group-header {
  font-weight:bold;
  font-size: 1.5em;
  background: white !important;
  height:50px;
  vertical-align:bottom;
  td {
    padding: $marginS 0;
  }
}

.inline-block {
  display: inline-block;
}

#attachment-type-select {
  margin-bottom: $marginL;
}

.change-type {
  clear: both;
  display: block;
}

.attachment-label {
  margin-bottom: $marginM;

  #attachment-latest-version-info {
    margin-bottom: $marginL;
  }

  .attachment-label-header {
    font-size: 0.85em;
    font-weight: 700;
    letter-spacing: 0.125em;
  }

  .attachment-label-header-item {
    margin-right: $marginL;
    font-weight: bold;
  }

  .attachment-label-info-item {
    margin-right: $marginL;
  }

  input {
    display: block;
    margin: 0;
    width: 100%;
    height: 26px;
  }

  input[type="checkbox"] {
    display: inline-block;
    width: $cols1;
  }

  select {
    display: block;
    width: 100%;
  }

  .attachment-info-field {
    margin-bottom: $marginS;
    position: relative;
  }
}

.signatures {
  margin-top: $marginM;
}

.signature-table {
  display: table;
  width: auto;
  margin-bottom: $marginM;
  margin-left: $marginS;
}

.signature-row {
  display: table-row;
  width: auto;
  clear: both;
  margin-bottom: $marginS;
  line-height: 27px;
}

.signature-cell {
  display: table-cell;
  width: 200px;
}

.tos-metadata-content {
  margin-top: $marginM;

  .subtable {
    margin: 0;
    tr {
      background: transparent;
      border: none;
    }
    th, td {
      background: transparent;
      padding: 0;
    }
  }
}

.upload-instructions {
  p {
    line-height: normal;
    margin-bottom: $marginM;
  }
  margin-bottom: $marginL;
}

.archive-valid {
  margin-top: $marginM;
  [class^="lupicon-"] {
    vertical-align: middle;
    margin-left: 2px;
    font-size: 18px;
  }
}

.modal-body p {
  max-width: $attachment-modal-width;
}

// Used when editing tasks, for example
.targetted-attachments {
  margin: {
  top: 10px;
  bottom: 10px;
}
}

.attachment-operations {
  @include button-row;
  margin: {
    top: 1em;
    bottom: 2em;
  }
  export-attachments {
    @include button-row;
  }
}

.attachment-assignment-row {
  border: {
    top: none;
    bottom: none;
  }
  td {
   padding: 0px;
   margin: 0px;
  }
}

.hidden-row {
  height: 0px;
  border: {
    top: none;
    bottom: none;
  }
  td {
    height: 0px;
    padding: 0px;
    margin: 0px;
  }
}

.selected-attachment-types {
  margin-top: $marginM;
  margin-bottom: $marginM;
}

.selected-attachment-types-container {
  min-height: $grid-input-height;
  .selected-attachment-type-tag {
    position: relative;
    background-color: $gray246;
    border: 1px solid $input-border-color;
    min-height: $grid-input-height;
    width: 100%;
    display: inline-block;
    span.tag-label {
      display: inline-block;
      margin: $marginS;
      font-weight: bold;
    }
    .tag-remove {
      position: absolute;
      top: 8px;
      right: 8px;
      color: $lp-orange;
      &:hover {
        color: $orange-hover;
      }
    }
  }
}

.attachment-details-toggles {
  padding-top: $marginL;
  padding-bottom: $marginL;
  clear: both;
}

.attachment-info-field .combobox-container {
  width: 100%;
}

.attachment-batch-grouping {
  min-width: 20em;
}
