div.nav-back-container {
  overflow: auto;
}

div.attachment-multiselect-content {
  margin-top: $marginL;

  .attachment-multiselect-buttons {
    margin-top: 10px;
  }

  tr.attachment-group-header {
    font-weight: normal;
  }
}


#stamping-component-container {
  div.stamp-info-container {
    overflow: auto;
  }
  .stamp-status {
    span {
      font-size: $baseline * 0.75;
    }
    .icon {
      margin-left: $marginS;
    }
  }
  form#stamp-info {
    select {
      display: block;
      margin: 2px $marginS $marginS 0;
    }
    .invalid-margin {
      background: #f06464;
    }
  }
}
