#authority-admin {
  h2{
    margin-top: $marginL;
  }
}

#kopiolaitos-info {
  margin-left: $marginL;
}

#dialog-edit-kopiolaitos-info {
  .dialog-content {
    margin-left: $marginS;
  }
}

.organization-areas {
  ul {
    list-style: none;
  }
  li:nth-child(even) {
    background-color: darken($lp-light-grey, .5%);
  }
}
