#authority-admin {
  h2{
    margin-top: $marginL;
  }
}

#kopiolaitos-info {
  margin-left: $marginL;
}

#dialog-edit-kopiolaitos-info {
  .dialog-content {
    margin-left: $marginS;
  }
}

// Municipality maps
.munimaps {
  h3 {
    margin-top: .5em;
  }
  .munimaps--wide {
    input, select {
      width: 90%;
    }
  }
  .munimaps--error {
    color: $red-dark;
    margin: {
      left: $marginS;
      right: $marginS;
      bottom: $marginL;
    }
    font-size: 16px;
  }
  .munimaps--check input {
    margin-left: $marginL;
  }
  .munimaps__map {
    width: 100%;
    height: 500px;
    margin-top: $marginL;
  }
}
