#company-content {
  .tabs-container {
    ul {
      padding: 0;
    }
    li{
      list-style: none;
      display: inline-block;
      margin-bottom: -1px;

      a {
        background-color: $lp-light-grey;
        color: $color-text;
        text-decoration: none;
        display: inline-block;
        margin-right: 4px;
        border: 1px solid lighten($lp-dark-grey, 20%);
        padding: 8px;
        border-radius: 2px 2px 0 0;
      }
      &.active {
        a {
          border-bottom: 1px solid $lp-light-grey;
        }
      }
    }
  }
  .tab-content-container {
    background-color: $lp-light-grey;
    border: 1px solid lighten($lp-dark-grey, 20%);
    padding: 8px;
  }
  .user-limit-reached {
    color: $lp-orange;
  }
}

.account-type-selector {
  display: block;
}
