#mypage {
  .button-group {
    margin: $marginM 0;
    position: relative;
  }
}

/*  */
#own-info-form {
  padding:0 $marginL;
  .architect-toggle, .allowDirectMarketing-toggle {
    height: 55px;
    margin: 9px 0;
    display: block;
    width: 100%;

    label, input {
     display: inline;
     width: $cols1;
    }
    input {
      margin-right: $marginM;
      display: inline;
    }
  }
  .form-group {
    padding: $marginM;
  }
}

#pw-form {
  padding: 0 $marginL;

  .form-group {
    padding: $marginM;
  }
  .form-entry {
    height: 78px;
  }
}

#mypage-register-company {
  padding: 0 $marginL;
  h2 {
    padding-left: 0;
  }
  p {
    // TODO not needed after all links are changed
    a {
      @include link;
    }
    padding-left: 0;
  }
}

.architect-info {
  margin: $marginL auto;
  transition: height 2s;


  .architect-attachments {
    margin-top: $marginL;
  }
}

