#dialog-view-calendar {
  width:$cols8;
  min-height:$baseline * 6;
  height: 90%;

  .dialog-content {
    height: 100%;
    overflow-y: scroll;
  }

  table {
    width: 97%;
    td {
      background: $gray246;
      padding: $marginS;

      &:nth-child(even) {
       background: white;
      }

      div.timeline-slot {
       height: $baseline*2;
       &:hover {
         background: $gray221;
       }
      }
    }
  }
}