#calendar-admin>.container>div  {
  padding: 0px $baseline;
}

#calendar-admin .calendar-table {
  width:$cols12;
  min-height:$baseline * 6;

  table {
    width: 97%;
    td {
      background: $gray246;
      padding: $marginS;
      width: 19%;

      &:nth-child(even) {
        background: white;
      }

      div.timeline-slot {
        height: 30px; // 1 px per minute
        border-bottom: 1px solid #ccc;
        &:hover {
          background: $gray221;
        }
      }

      .reservation-slot {
        position: absolute;
        background-color: $orange-light;
        width: 100%;
      }
    }
  }
}