#side-panel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

#side-panel-overlay.show-side-panel {
  bottom: 100%;
  right: 100%;
}

#side-panel-template {
  margin: 0;
  padding: 0;
}

#side-panel {
  z-index: 2001;
  color: #fff;
  position: fixed;
  right: -500px;
  top: 60px;

  .comment-controls {
    margin-left: 0;
    .mark-answered {
      margin-left: 0;
    }
  }
  .buttons {
    float: left;
    margin-top: $marginM;
    .btn-conversation, .btn-notice {
      box-shadow: 1px 1px 3px darken($lp-dark-grey, 10%);
      padding: 1em;
      display: block;
      font-weight: bold;
      margin: 0 0 $marginM 0;

      .unseen-comments {
        color: $green-dark;
        font-size: 14px;
        background-color: white;
        padding: 2px 2px 2px 2px;
        min-width: $lupicon-size;
      }
    }

    .btn-conversation.active, .btn-notice.active {
      background-color: $orange-hover;
    }
  }

  .content-wrapper {
    float: left;
    height: 100%;
    background-color: $gray69;
    padding: $marginS;
    width: 500px;
  }

  .header {
    @include disable-select;
    cursor: default;
    h1 {
      line-height: 30px;
      overflow: auto;
      clear: both;
    }
    .title {
      float: left;
    }
    .close-btn {
      @include spite-bg;
      width: 16px;
      height: 16px;
      background-position: 0px -2700px;
      cursor: pointer;
      position: absolute;
      top: $marginS;
      right: $marginS;
    }
    .help {
      margin-left: $marginM;
      float: left;
      &:after {
        border-bottom-color: lighten($lp-dark-grey, 15%);
      }
    }
    .icon.help.expanded {
      margin-bottom: 22px;
    }
  }

  .content {
    overflow: auto;
    height: 100%;

    .form-input.textarea {
      width: 100%;
      box-sizing: border-box;
    }

  }

  .content-table {
    overflow: auto;
    height: 100%;
    width: 100%;
    display: table;

    .form-input.textarea {
      width: 100%;
      box-sizing: border-box;
    }

    .content-row {
      display: table-row;
    }

    .content-cell {
      display: table-cell;
      padding-bottom: $marginS;
      position: relative;
    }
  }

  .content.expanded, .content-table.expanded {
    top: 200px;
  }

  .panel-info {
    background: lighten($lp-dark-grey, 15%);
    padding: $marginS;
    clear: both;
  }

  h1 {
    color: #fff;
  }

  .comment {
    color: $grey-text;
  }

  #notice-template {
    height: 100%;
  }

  #notice-panel {
    height: 100%;

    .notice-component {
      height: 100%;
    }

    .application-urgency {
      width: 215px;
      position: relative;
    }

    .application-tags {
      z-index: 1;
      position: relative;
    }

    .icon.urgent {
      margin-top: 10px;
      vertical-align: middle;
    }

    .icon.hold {
      margin-top: 10px;
      vertical-align: middle;
    }

    label {
      vertical-align: bottom;
    }

    .form-grid {
      display: table;
      height: 100%;
      .row {
        display: table-row;
        margin-bottom: $marginS;
        .col-1 {
          display: table-cell;
          margin-bottom: $grid-margin;
          label {
            color: #fff;
          }
        }
      }
      .row.textarea-wrapper {
        height: 100%;
        .col--vertical {
          height: 100%;
          padding-bottom: 60px;
        }
        .col-1 {
          height: 100%;
          textarea {
            height: 100%;
            height: 300px\9;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

#side-panel.show-side-panel {
  right: 0px;
  bottom: 0;
}

#conversation-panel {
  height: 100%;
  textarea {
    -webkit-transition: box-shadow 250ms ease;
    -moz-transition: box-shadow 250ms ease;
    -ms-transition: box-shadow 250ms ease;
    -o-transition: box-shadow 250ms ease;
    transition: box-shadow 250ms ease;
  }
  padding-bottom: 46px;
  .header {
    h1 {
      margin-bottom: 0;
    }
  }
  .highlight-conversation {
    textarea {
      box-shadow: inset 0 0 10px darken($lp-orange, 10%);
      border-color: $lp-orange;
    }
  }
  label {
    color: #fff;
  }
}

#side-panel .message-buttons {
  button {
    margin-bottom: $marginS;
  }
}

@media all and (max-width: $narrow-breakpoint) {
  #side-panel {
    .content-wrapper {
      width: 400px;
    }
    .btn-title {
      display: none;
    }
  }

  #side-panel {
    right: -400px;
  }

  .comment-controls {
    .comment-request {
      margin-left: 0;
    }
  }
  #side-panel .message-buttons {
    @include stacked;
    button {
      margin-bottom: $marginS;
    }
  }
}

//
// Info side panel
//

.info-panel-container {
  height: 100%;
  margin: {left: $marginM;
           right: $marginM;
          }
  h2 {
    font-size: 18px;
    margin-top: 2em;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  td.spacehog {
    width: 100%;
  }
  .info-links-content {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 2 * $btn-height;
  }
}

@mixin info-table( $bg ) {
  border: none;
  margin-bottom: 0;
  tr {
    background-color: $bg;
    border: none;
    &:hover {
      background-color: $bg;
      border: none;
    }
    &:hover:nth-child(even) {
      background: $bg;
    }
  }
}

table.info-link-editor-view {
  td {
    padding-left: 0;
  }
  @include info-table( transparent ) {}
  a.link-btn--passive:active {
    // In Firefox the active state gets stuck after drag'n'drop.
    color: $orange-dark;
  }
}

table.info-link-editor-view.info-link-divider {
  border-bottom: 1px solid $gray85;
}

.info-link-drop-zone {
  border: 1px dashed $orange-light;
  min-height: $btn-height;
  width: 100%;

}

// Dragged link within list
table.info-link-editor-view.dragging {
  display: none;
}

// Drag element
table.info-link-editor-view + .dragging {
  display: block !important;
  max-width: 30em;
  background-color: $gray51;
}


span.info-link-text {
  @include link-text( 20em );
}

span.info-link-text-wide {
  @include link-text( 28em );
}


@media all and (max-width: $narrow-breakpoint) {
  table.info-link-editor-view + .dragging {
    max-width: 24em;
  }
  span.info-link-text {
    max-width: 14em;
  }

  span.info-link-text-wide {
    max-width: 22em;
  }
}

.info-link-link {
  margin-bottom: .5em;
}




table.info-link-editor-edit {
  @include info-table( white );
  margin-bottom: 2px;
  tr:nth-child(odd) {
    border-bottom: 1px solid $grid-border-color;
  }
  td {
    padding: {
    left: 5px;
    right: 5px;
  }
  }
  input {
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    width: 100%;
    padding: {
      bottom: 2px;
      top: 2px;
    }
  }
  button.ghost {
    border: none;
    padding: {
      left: 4px;
      right: 4px;
    }
  }
}
