#side-panel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

#side-panel-overlay.show-side-panel {
  bottom: 100%;
  right: 100%;
}

#side-panel-template {
  margin: 0;
  padding: 0;
}

#side-panel {
  z-index: 2001;
  color: #fff;
  position: fixed;
  right: -500px;
  top: 60px;
  bottom: 0;

  .comment-controls {
    margin-left: 0;
    .mark-answered {
      margin-left: 0;
    }
  }
  .buttons {
    float: left;
    margin-top: $marginM;
    .btn-conversation, .btn-notice {
      box-shadow: 1px 1px 3px darken($lp-dark-grey, 10%);
      padding: 1em;
      outline: none;
      background: fade-out($lp-orange, 0.1);
      background: lighten($lp-orange, 20%) \9; /* IE 8 and below */
      width: 40px;
      text-align: center;
      text-transform: uppercase;
      display: block;
      color: #fff;
      text-shadow: 0px 1px 0px $lp-dark-grey;
      font-weight: bold;
      border: 1px solid darken($lp-orange, 10%);
      border-right: 0;
      word-break: break-all;
      clear: both;
      float: right;
      span {
        display: block;
      }
      .btn-title {
        @include disable-select;
        word-break: break-all;
        max-width: 12px;
        letter-spacing: 2px;
      }
      .unseen-comments {
        @include spite-bg;
        background-position: 1px -5396px;
        width: 23px;
        height: 30px;
        padding-top: 3px;
        margin-left: -6px;
        margin-bottom: 4px;
        color: $color-text;
        text-shadow: none;
      }
    }

    .btn-conversation.active, .btn-notice.active {
      width: 46px;
      box-shadow: 0 0 5px lighten($lp-orange, 10%);
      &:before {
        border-right: 6px solid darken($lp-orange, 15%);
        display:block;
        content:".";
        color:transparent;
        font-size:0;
        height:100%;
        position:absolute;
        right:-1px;
        padding:1px 0;
        top:-1px;
        bottom:-1px;
      }
    }
  }

  .content-wrapper {
    float: left;
    height: 100%;
    background:  fade-out($lp-dark-grey, 0.1);
    background: $lp-dark-grey \9; /* IE 8 and below */
    border: 1px solid darken($lp-dark-grey, 10%);
    padding: $marginS;
    width: 500px;
  }

  .header {
    @include disable-select;
    cursor: default;
    h1 {
      line-height: 30px;
      float: left;
    }
    .close-btn {
      @include spite-bg;
      width: 16px;
      height: 16px;
      background-position: 0px -2700px;
      cursor: pointer;
      float: right;
      margin-top: $marginS;
    }
    .help {
      margin-left: $marginM;
      &:after {
        border-bottom-color: lighten($lp-dark-grey, 15%);
      }
    }
  }

  .content {
    overflow: auto;
    height: 100%;

    .form-input.textarea {
      width: 100%;
      box-sizing: border-box;
    }

  }

  .content-table {
    overflow: auto;
    height: 100%;
    width: 100%;
    display: table;

    .form-input.textarea {
      width: 100%;
      box-sizing: border-box;
    }

    .content-row {
      display: table-row;
    }

    .content-cell {
      display: table-cell;
      padding-bottom: $marginS;
      position: relative;
    }
  }

  .content.expanded, .content-table.expanded {
    top: 200px;
  }

  .panel-info {
    background: lighten($lp-dark-grey, 15%);
    padding: $marginS;
  }

  p, h1 {
    color: #fff;
  }

  .comment {
    color: $grey-text;
  }

  #notice-template {
    height: 100%;
  }

  #notice-panel {
    height: 100%;

    .application-urgency {
      width: 215px;
      position: relative;
    }

    .application-tags {
      z-index: 1;
      position: relative;
    }

    .icon.urgent {
      margin-top: 10px;
      vertical-align: middle;
    }

    .icon.hold {
      margin-top: 10px;
      vertical-align: middle;
    }

    label {
      vertical-align: bottom;
    }

    .textarea-wrapper {
      height: 100%;
      textarea {
        padding-bottom: 52px;
      }
    }

    .form-input.textarea {
      height: 100%;
      margin: 0;
    }

    .notice-prompt-info {
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }

    }
  }
}

#side-panel.show-side-panel {
  right: 0px;
}

#conversation-panel {
  height: 100%;
  textarea {
    -webkit-transition: box-shadow 250ms ease;
    -moz-transition: box-shadow 250ms ease;
    -ms-transition: box-shadow 250ms ease;
    -o-transition: box-shadow 250ms ease;
    transition: box-shadow 250ms ease;
  }
  .content {
    padding-bottom: 56px;
  }
}

#conversation-panel.highlight-conversation {
  textarea {
    box-shadow: inset 0 0 10px darken($lp-orange, 10%);
    border-color: $lp-orange;
  }
}

@media all and (max-width: 1280px) {
  #side-panel {
    .content-wrapper {
      width: 300px;
    }
  }

  #side-panel {
    right: -300px;
  }

  .comment-controls {
    .comment-request {
      margin-left: 0;
    }
  }
}

