#statement {
  h1 {
    width: 70%;
    display: inline;
  }
  .headerarea {
    margin-bottom: $marginM;
  }
  .statement-info {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  .statement-conversation {
    width: 49%;
    display: inline-block;
  }
  textarea {
    width: 90%;
  }
  .statement-attachments {
    margin-bottom: $baseline;
  }

}