#statement {

  .statement-top {
    background-color: #eee;
    padding: $marginL 0;
    border-bottom: 2px solid #bbb;
  }

  h1 {
    display: inline;
  }
  .headerarea {
    width: 100%;
    margin-bottom: $marginM;
  }
  .statement-info {
    vertical-align: top;
    margin-bottom: $baseline;
  }

  .statement-conversation {
    width: 49%;
    display: inline-block;
  }
  textarea {
    resize: none;
    width: 99%;
  }
  .statement-attachments {
    margin-bottom: $baseline;

    .removeCol {
      width: $column;
    } 

  }
  .statement-control-buttons {
    margin-bottom: $baseline;
  }

}