#verdict {

  section {
   margin-top: $marginL;
   h2 {
     margin-bottom: 0;
   }
  }

  .attachments h3 {
    /* emulate h2 */
    font-size: $baseline * 0.9;
    font-weight: bold;
  }
}

.verdict-info-fields {
  overflow: auto;
}

.verdict-signature-fields {
  overflow-y: hidden;
  float: right;
  margin-right: 5em;
  width: 240px;
  .value {
    float: right;
  }
}
