#verdict {

  section {
   margin-top: $marginL;
   h2 {
     margin-bottom: 0;
   }
  }

  .attachments h3 {
    /* emulate h2 */
    font-size: $baseline * 0.9;
    font-weight: bold;
  }
}

.verdict-info-fields {
  overflow: auto;
}

.verdict-signature-fields {
  overflow-y: hidden;
  float: right;
  margin-right: 5em;
  width: 240px;
  .value {
    float: right;
  }
}

// File upload component

ul.upload-files {
  display: table;
  list-style: none;
  padding: {
    bottom: .5em;
    left: 0;
  }
  li {
    display: table-row;
    span, a {
      display: table-cell;
    }
    span {
      padding-right: 2em;
    }
    span.upload-files__size {
      text-align: right;
    }
  }
}

ul.appeals-files {
  list-style: none;
  padding-left: 0;
  .appeals-files__info {
    padding-left: 1em;
    font-style: italic;
  }
}

.appeals-table {
  @extend .table;
  td.appeals-table--action {
    text-align: right;
    a {
      padding-right: 2em;
    }
  }
  tr.appeals-table__note {
    padding: {
    left: 2em;
    right: 2em;
  }
    &:active {
      background-color: initial;
    }
    background-color: white;
    td.appeals-table--extra {
      white-space: pre-wrap;
    }
    td.appeals-table--no-extra {
      color: $gray187;
    }
  }
  div.bubble-dialog {
    border: none;
  }
}
